:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #9adca1;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f1f4f9;
  --dark: #343a40;
  --white: #ffffff;
  --black: #000;
}
.badge-primary,
.bg-primary {
  background-color: var(--primary) !important;
}

#heading {
  font-family: 'Roboto';
}

.badge-secondary,
.bg-secondary {
  background-color: var(--secondary) !important;
}

.badge-success,
.bg-success {
  background-color: var(--success) !important;
}

.badge-info,
.bg-info {
  background-color: var(--info) !important;
}

.badge-warning,
.bg-warning {
  background-color: var(--warning) !important;
}

.badge-danger,
.bg-danger {
  background-color: var(--danger) !important;
}

.badge-light,
.bg-light {
  background-color: var(--light) !important;
}

.badge-dark,
.bg-dark {
  background-color: var(--dark) !important;
}

.badge-black,
.bg-black {
  background-color: #000 !important;
}

.bg-red {
  background-color: #ff005b !important;
}

.bg-orange {
  background-color: #ff9900 !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle,
.btn-primary,
.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary,
.btn-secondary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success,
.btn-success:hover {
  background-color: var(--success);
  border-color: var(--success);
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.btn-info,
.btn-info:hover {
  background-color: var(--info);
  border-color: var(--info);
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning,
.btn-warning:hover {
  background-color: var(--warning);
  border-color: var(--warning);
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger,
.btn-danger:hover {
  background-color: var(--danger);
  border-color: var(--danger);
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light,
.btn-light:hover {
  background-color: var(--light);
  border-color: var(--light);
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark,
.btn-dark:hover {
  background-color: var(--dark);
  border-color: var(--dark);
}

.btn-black:not(:disabled):not(.disabled):active,
.btn-black:not(:disabled):not(.disabled).active,
.btn-black,
.btn-black:hover {
  background-color: var(--black);
  border-color: var(--black);
}

/* Typography
===================================== */
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #393939;
  font-weight: 700;
  margin: 0;
}

h1,
.h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.3px;
}

h2,
.h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  line-height: 27px;
}

h3,
.h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

h4,
.h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

h5,
.h5 {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 20px;
}

h6,
.h6 {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 17px;
}

/* General
===================================== */
html,
body {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media (min-width: 1442px) {
  .container {
    max-width: 1200px;
  }
  .slider-width {
    margin-left: -80px;
    margin-right: -80px;
  }
}

.card {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 15px 15px -10px rgba(23, 16, 159, 0.15);
  box-shadow: 0 15px 15px -10px rgba(23, 16, 159, 0.15);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 2rem gray;
}

body {
  background: #fff;
  color: #333;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  color: #007bff;
}

a .fa,
a .fab,
a .fad,
a .fal,
a .far,
a .fas {
  font-size: calc(14px + 5px);
}

a:hover {
  color: #47c3fb;
  text-decoration: none;
}

p {
  line-height: 1.6em;
}

button:focus,
button:active:focus,
button.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus,
.btn.focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.badge:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.radius-0 {
  border-radius: 0;
}

.radius-10 {
  border-radius: 15px !important;
  overflow: hidden !important;
}

.radius-25 {
  border-radius: 25px !important;
  overflow: hidden !important;
}

.o-visible {
  overflow: visible !important;
}

.list-unstyled li a {
  padding: 0.25rem 0;
  display: block;
}

.fbt-resize {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
}

:focus {
  outline: 0;
}

.divider {
  position: relative;
}

.divider:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 2px;
  margin-left: -40%;
  content: '';
  background: radial-gradient(
    ellipse at center,
    #fff 0,
    rgba(255, 255, 255, 0) 75%
  );
  opacity: 0.6;
}

#page-wrapper {
  background: transparent;
  max-width: 100%;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 0px rgba(23, 16, 159, 0.15);
  box-shadow: 0 0 0px rgba(23, 16, 159, 0.15);
  position: relative;
}

#page-wrapper.full-page {
  margin-top: 0;
}

#page-wrapper.four_columns {
  margin-top: 20px;
}

@media (max-width: 1365.98px) {
  .text-responsive {
    font-size: calc(150% + 1vw + 1vh) !important;
  }
}

.btn:hover {
  opacity: 0.9;
}

blockquote {
  font-style: italic;
  font-weight: normal;
  font-family: Georgia, Serif;
  font-size: 17px;
  line-height: 1.6em;
  margin: 10px 0;
}

blockquote .card {
  background-color: var(--dark);
}

blockquote p {
  position: relative;
  font-family: Georgia;
  color: var(--white);
}

blockquote p:before {
  content: '\201C';
  color: var(--white);
  font-size: 10em;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: 20px;
  left: -55px;
}

blockquote.fbt-shape-container:before {
  display: none;
}

blockquote.fbt-shape-container:after {
  width: 350px;
  height: 350px;
  border-radius: 2000px;
  background: linear-gradient(
    45deg,
    rgba(0, 201, 255, 0) 45%,
    rgba(0, 201, 255, 0.25) 100%
  );
  right: -110px;
  top: -110px;
}

mark {
  background-color: var(--success);
  color: #fff;
}

@media (min-width: 1200px) {
  .fbt-sticky-content {
    top: 70px;
  }
}

@media (max-width: 1199.98px) {
  .fbt-sticky-content {
    top: 10px;
  }
}

.fbt-bg-white {
  margin: 5px 5px 0 0;
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.198em 0.4em 0.55em;
  line-height: 1.4em;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent calc(13%), #fff 1px);
  position: relative;
  color: #393939;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a .fbt-bg-white {
  color: #393939 !important;
}

a:hover .fbt-bg-white {
  background-image: linear-gradient(transparent calc(13%), #ff005b 1px);
  color: #fff !important;
}

.border {
  border: 1px solid #eee !important;
}

.border-top {
  border-top: 1px solid #eee !important;
}

.border-right {
  border-right: 1px solid #eee !important;
}

.border-bottom {
  border-bottom: 1px solid #eee !important;
}

.border-left {
  border-left: 1px solid #eee !important;
}

/* Page Settings
===================================== */
/* Full Page */
.full-page .fbt-elastic-container {
  max-width: 100%;
}

@media (min-width: 768px) {
  .full-page .fbt-elastic-container {
    padding: 0 3rem;
  }
}

@media (min-width: 1200px) {
  .full-page .card-columns {
    -webkit-column-count: 5;
    column-count: 5;
  }
}

@media (max-width: 1601.98px) {
  .full-page .fbt-index-post .post-title.h4 {
    font-size: 1rem;
    line-height: calc(1rem + 4px);
  }
}

.full-page .fbt-post-thumbnail {
  height: 210px;
}

.full-page .blog-post:nth-child(6) .fbt-post-thumbnail,
.full-page .blog-post:nth-child(10) .fbt-post-thumbnail {
  height: 416px;
}

.full-page .blog-post:nth-child(2n + 2) .card-body .post-excerpt {
  display: none;
}

/* Four Columns */
.four_columns {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .four_columns .card-columns {
    -webkit-column-count: 4;
    column-count: 4;
  }
}

.four_columns .fbt-post-thumbnail {
  height: 210px;
}

.four_columns .blog-post:nth-child(6) .fbt-post-thumbnail {
  height: 416px;
}

.four_columns .blog-post:nth-child(10) .fbt-post-thumbnail {
  height: 416px;
}

.four_columns .fbt-index-post .post-title.h4 {
  font-size: 1rem;
  line-height: calc(1rem + 4px);
}

.four_columns .blog-post:nth-child(2n + 2) .card-body .post-excerpt {
  display: none;
}

.four_columns .radius-10 {
  border-radius: 0 !important;
}

.four_columns .footer-light.pt-4 {
  padding-top: 25px !important;
  background: #f1f4f9;
}

.four_columns .fbt-bottom-shape svg {
  fill: #f1f4f9;
}

.four_columns .fbt-index-post.card.blog-post:nth-child(1n + 2),
.four_columns .fbt-index-post.card {
  background-color: #fff;
}

.four_columns .fbt-index-post.card.blog-post:nth-child(1n + 2) h3,
.four_columns .fbt-index-post.card h3 {
  color: #333 !important;
}

.four_columns .fbt-index-post.card.blog-post:nth-child(1n + 2) h3 a,
.four_columns .fbt-index-post.card h3 a {
  color: #333 !important;
}

.four_columns .fbt-index-post.card.blog-post:nth-child(1n + 2) .post-meta,
.four_columns .fbt-index-post.card .post-meta {
  color: #333 !important;
}

.four_columns .fbt-index-post.card.blog-post:nth-child(1n + 2) .post-meta a,
.four_columns .fbt-index-post.card .post-meta a {
  color: #333 !important;
}

.four_columns
  .fbt-index-post.card.blog-post:nth-child(1n + 2)
  .post-meta
  .post-author,
.four_columns .fbt-index-post.card .post-meta .post-author {
  color: #333 !important;
}

.four_columns .fbt-index-post.card.blog-post:nth-child(1n + 2) .card-text,
.four_columns .fbt-index-post.card .card-text {
  color: #333 !important;
}

.four_columns
  .fbt-index-post.card.blog-post:nth-child(1n + 2):nth-child(2n + 2):hover
  h3,
.four_columns .fbt-index-post.card:nth-child(2n + 2):hover h3 {
  text-decoration: underline;
}

.four_columns
  .fbt-index-post.card.blog-post:nth-child(1n + 2):nth-child(2n + 2):hover
  h3
  a,
.four_columns .fbt-index-post.card:nth-child(2n + 2):hover h3 a {
  text-decoration: underline;
}

.four_columns
  .fbt-index-post.card.blog-post:nth-child(1n + 2):nth-child(2n + 2)
  h3,
.four_columns .fbt-index-post.card:nth-child(2n + 2) h3 {
  color: #fff !important;
}

.four_columns
  .fbt-index-post.card.blog-post:nth-child(1n + 2):nth-child(2n + 2)
  h3
  a,
.four_columns .fbt-index-post.card:nth-child(2n + 2) h3 a {
  color: #fff !important;
}

.four_columns
  .fbt-index-post.card.blog-post:nth-child(1n + 2):nth-child(2n + 2)
  .post-meta,
.four_columns .fbt-index-post.card:nth-child(2n + 2) .post-meta {
  color: #fff !important;
}

.four_columns
  .fbt-index-post.card.blog-post:nth-child(1n + 2):nth-child(2n + 2)
  .post-meta
  a,
.four_columns .fbt-index-post.card:nth-child(2n + 2) .post-meta a {
  color: #fff !important;
}

.four_columns
  .fbt-index-post.card.blog-post:nth-child(1n + 2):nth-child(2n + 2)
  .post-meta
  .post-author,
.four_columns .fbt-index-post.card:nth-child(2n + 2) .post-meta .post-author {
  color: #fff !important;
}

.four_columns
  .fbt-index-post.card.blog-post:nth-child(1n + 2):nth-child(2n + 2)
  .card-text,
.four_columns .fbt-index-post.card:nth-child(2n + 2) .card-text {
  color: #fff !important;
}

.four_columns .card {
  -webkit-box-shadow: 0 15px 25px -5px rgba(23, 16, 159, 0.15);
  box-shadow: 0 15px 25px -5px rgba(23, 16, 159, 0.15);
}

/* Posts
===================================== */
.tooltip {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.feed-view .card-text {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.feed-view .blog-post {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.item-view .card-text {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.item-view .post-body {
  font-family: 'Nunito', sans-serif !important;
  font-size: 17px;
  font-weight: 400;
  line-height: 34px !important;
  letter-spacing: 0.3px !important;
  color: #222222;
}

.item-view .fbt-post-thumbnail {
  width: 100%;
  height: auto;
}

.post-meta {
  font-family: 'Nunito', sans-serif;
  font-size: calc(14px - 2px);
  font-weight: 400;
}

.post-meta span:not(:last-child):after {
  content: '/';
  margin: 0 3px 0 7px;
}

.post-meta a {
  color: #222222;
  text-transform: uppercase;
}

.post-meta a:hover {
  color: #47c3fb;
}

.post-meta .post-author {
  color: #222222;
  text-transform: uppercase;
}

.post-title {
  margin-bottom: 12px;
}

.post-excerpt {
  margin-top: 10px;
  margin-bottom: 0;
}

.fbt-post-thumbnail {
  width: 100%;
  height: 242px;
  overflow: hidden;
  position: relative;
}

.blog-post:nth-child(2) .fbt-post-thumbnail {
  height: 250px;
}

.blog-post:nth-child(3) .fbt-post-thumbnail {
  height: 250px;
}

.blog-post:nth-child(6) .fbt-post-thumbnail {
  height: 250px;
}

.blog-post:nth-child(2) .card-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 110%
  );
  pointer-events: none;
}
.blog-post:nth-child(3) .card-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 110%
  );
  pointer-events: none;
}
.blog-post:nth-child(6) .card-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 110%
  );
  pointer-events: none;
}

.blog-post:nth-child(2n + 2):hover h3 {
  text-decoration: underline;
}

.blog-post:nth-child(2n + 2):hover h3 a {
  text-decoration: underline;
}

.blog-post:nth-child(2n + 2) h3 {
  color: #fff !important;
}

.blog-post:nth-child(2n + 2) h3 a {
  color: #fff !important;
}

.blog-post:nth-child(2n + 2) .post-meta {
  color: #fff !important;
}

.blog-post:nth-child(2n + 2) .post-meta a {
  color: #fff !important;
}

.blog-post:nth-child(2n + 2) .post-meta .post-author {
  color: #fff !important;
}

.blog-post:nth-child(2n + 2) .card-text {
  color: #fff !important;
}

.fbt-item-post .post-body img {
  max-width: 100%;
}

.post-thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.fbt-index-post.card {
  background-color: #4a42ec;
}

.fbt-index-post.card:nth-child(4) {
  background-color: #ff4274;
}

.fbt-index-post.card:nth-child(5) {
  background-color: #0099cc;
}

.fbt-index-post.card:nth-child(7) {
  background-color: #b5afeb;
}

.fbt-index-post.card:nth-child(11) {
  background-color: #ff9900;
}

.fbt-index-post.card:nth-child(15) {
  background-color: #939ead;
}

.fbt-index-post.card h3 {
  color: #ffffff !important;
}

.fbt-index-post.card h3 a {
  color: #ffffff !important;
}

.fbt-index-post.card h3 a:hover {
  text-decoration: underline;
}

.fbt-index-post.card h3:hover {
  text-decoration: underline;
}

.fbt-index-post.card .post-meta {
  color: #ffffff !important;
}

.fbt-index-post.card .post-meta a {
  color: #ffffff !important;
}

.fbt-index-post.card .post-meta .post-author {
  color: #ffffff !important;
}

.fbt-index-post.card .card-text {
  color: #ffffff !important;
}

.card-columns .fbt-index-post.card {
  margin-bottom: calc(35px - 5px);
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 35px;
    column-gap: 35px;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
  }
}

.video-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 42px;
  height: 42px;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  border: 2px solid #fff;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.4);
}

.video-icon i {
  text-align: center;
  margin-left: 3px;
  line-height: 38px;
}
