/* Page Settings
===================================== */
/* Full Page */
.full-page .fbt-elastic-container {
  max-width: 100%;
}

@media (min-width: 768px) {
  .full-page .fbt-elastic-container {
    padding: 0 3rem;
  }
}

@media (min-width: 1200px) {
  .full-page .card-columns {
    -webkit-column-count: 5;
    column-count: 5;
  }
}

@media (max-width: 1601.98px) {
  .full-page .fbt-index-post .post-title.h4 {
    font-size: 1rem;
    line-height: calc(1rem + 4px);
  }
}

.full-page .fbt-post-thumbnail {
  height: 210px;
}

.full-page .blog-post:nth-child(6) .fbt-post-thumbnail,
.full-page .blog-post:nth-child(10) .fbt-post-thumbnail {
  height: 416px;
}

.full-page .blog-post:nth-child(2n + 2) .card-body .post-excerpt {
  display: none;
}

/* Posts
===================================== */
.tooltip {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.feed-view .card-text {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.feed-view .blog-post {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.item-view .card-text {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.item-view .post-body {
  font-family: 'Nunito', sans-serif !important;
  font-size: 17px;
  font-weight: 400;
  line-height: 34px !important;
  letter-spacing: 0.3px !important;
  color: #222222;
}

.item-view .fbt-post-thumbnail {
  width: 100%;
  height: auto;
}

.post-meta {
  font-family: 'Nunito', sans-serif;
  font-size: calc(14px - 2px);
  font-weight: 400;
}

.post-meta span:not(:last-child):after {
  content: '/';
  margin: 0 3px 0 7px;
}

.post-meta a {
  color: #222222;
  text-transform: uppercase;
}

.post-meta a:hover {
  color: #47c3fb;
}

.post-meta .post-author {
  color: #222222;
  text-transform: uppercase;
}

.post-title {
  margin-bottom: 12px;
}

.post-excerpt {
  margin-top: 10px;
  margin-bottom: 0;
}

.fbt-post-thumbnail {
  width: 100%;
  height: 242px;
  overflow: hidden;
  position: relative;
}

.blog-post:nth-child(2) .fbt-post-thumbnail {
  height: 250px;
}

.blog-post:nth-child(3) .fbt-post-thumbnail {
  height: 250px;
}

.blog-post:nth-child(6) .fbt-post-thumbnail {
  height: 250px;
}

.blog-post:nth-child(2) .card-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 110%
  );
  pointer-events: none;
}
.blog-post:nth-child(3) .card-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 110%
  );
  pointer-events: none;
}
.blog-post:nth-child(6) .card-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 110%
  );
  pointer-events: none;
}

.blog-post:nth-child(2n + 2):hover h3 {
  text-decoration: underline;
}

.blog-post:nth-child(2n + 2):hover h3 a {
  text-decoration: underline;
}

.blog-post:nth-child(2n + 2) h3 {
  color: #fff !important;
}

.blog-post:nth-child(2n + 2) h3 a {
  color: #fff !important;
}

.blog-post:nth-child(2n + 2) .post-meta {
  color: #fff !important;
}

.blog-post:nth-child(2n + 2) .post-meta a {
  color: #fff !important;
}

.blog-post:nth-child(2n + 2) .post-meta .post-author {
  color: #fff !important;
}

.blog-post:nth-child(2n + 2) .card-text {
  color: #fff !important;
}

.fbt-item-post .post-body img {
  max-width: 100%;
}

.post-thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.fbt-index-post.card {
  background-color: #4a42ec;
}

.fbt-index-post.card:nth-child(4) {
  background-color: #ff4274;
}

.fbt-index-post.card:nth-child(5) {
  background-color: #0099cc;
}

.fbt-index-post.card:nth-child(7) {
  background-color: #b5afeb;
}

.fbt-index-post.card:nth-child(11) {
  background-color: #ff9900;
}

.fbt-index-post.card:nth-child(15) {
  background-color: #939ead;
}

.fbt-index-post.card h3 {
  color: #ffffff !important;
}

.fbt-index-post.card h3 a {
  color: #ffffff !important;
}

.fbt-index-post.card h3 a:hover {
  text-decoration: underline;
}

.fbt-index-post.card h3:hover {
  text-decoration: underline;
}

.fbt-index-post.card .post-meta {
  color: #ffffff !important;
}

.fbt-index-post.card .post-meta a {
  color: #ffffff !important;
}

.fbt-index-post.card .post-meta .post-author {
  color: #ffffff !important;
}

.fbt-index-post.card .card-text {
  color: #ffffff !important;
}

.card-columns .fbt-index-post.card {
  margin-bottom: calc(35px - 5px);
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 35px;
    column-gap: 35px;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
  }
}

.video-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 42px;
  height: 42px;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  border: 2px solid #fff;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.4);
}

.video-icon i {
  text-align: center;
  margin-left: 3px;
  line-height: 38px;
}
