<ngb-carousel>
  <ng-template ngbSlide *ngFor="let slide of sliderItems">
    <div class="img-body">
      <div class="picsum-img-wrapper">
        <img src="{{ slide.image }}" alt="{{ slide.title }}" />
      </div>
      <div class="carousel-caption">
        <h3>{{ slide.title }}</h3>
        <p>{{ slide.description }}</p>
      </div>
    </div>
  </ng-template>
</ngb-carousel>

<div class="container my-3">
  <div class="row my-3">
    <div class="col text-center">
      <div id="galleryTitle"><span id="oougTitle">OOUG</span>'s Gallery</div>
    </div>
  </div>
  <div class="row">
    <div class="card-columns" lightbox-group>
      <div class="card" *ngFor="let image of imageItems">
        <img
          class="card-img-top"
          src="{{ image.image }}"
          alt="{{ image.description }}"
          lightbox
        />
        <div class="card-body">
          <p class="card-text">
            {{ image.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
