<div class="container-fluid">
  <div class="workshop">
    <div class="container-xl">
      <div class="row">
        <div class="card mb-3">
          <img src="./assets/images/e.jpg" class="card-img-top" alt="..." />
          <div class="card-img-overlay">
            <h5 class="card-title">Android Workshop</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.This is a wider card with supporting text below as a
              natural lead-in to additional content. This content is a little
              bit longer.
            </p>
            <p class="card-text-by">
              <small class="text-muted">Amiya kumar sahoo</small>
            </p>
          </div>
        </div>
      </div>

      <div class="row"></div>
    </div>
  </div>

  <div class="official-event">
    <div class="container-xl">
      <div class="row">
        <div class="card mb-3">
          <img src="./assets/images/e.jpg" class="card-img-top" alt="..." />
          <div class="card-img-overlay">
            <h5 class="card-title">Official Events</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.This is a wider card with supporting text below as a
              natural lead-in to additional content. This content is a little
              bit longer.
            </p>
            <p class="card-text-by">
              <small class="text-muted">Amiya kumar sahoo</small>
            </p>
          </div>
        </div>
      </div>

      <div class="row"></div>
    </div>
  </div>

  <div class="others-event">
    <div class="container-xl">
      <div class="row">
        <div class="card mb-3">
          <img src="./assets/images/e.jpg" class="card-img-top" alt="..." />
          <div class="card-img-overlay">
            <h5 class="card-title">Others Events</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.This is a wider card with supporting text below as a
              natural lead-in to additional content. This content is a little
              bit longer.
            </p>
            <p class="card-text-by">
              <small class="text-muted">Amiya kumar sahoo</small>
            </p>
          </div>
        </div>
      </div>

      <div class="row"></div>
    </div>
  </div>
</div>
