.img-body {
  width: 100%;
  height: 60vh;
  padding-bottom: 30px;
}

#oougTitle {
  font-family: 'GoodTimesRg-Regular', 'Roboto';
  font-size: 3rem;
  line-height: 3.8rem;
  color: red;
}

#galleryTitle {
  font-family: 'GoodTimesRg-Regular', 'Roboto';
  font-size: 3rem;
  line-height: 3.8rem;
}
