<div class="gallery-box">
  <!-- WORKSHOP CONTAINER -->
  <div id="workshop" class="container-fluid">
    <h1>WORKSHOPS</h1>
    <div class="android-workshop">
      <h2>Android workshop</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/a.jpg">
                <img
                  src="./assets/images/a.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (1).jpg">
                <img
                  src="./assets/images/d (1).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (2).jpg">
                <img
                  src="./assets/images/d (2).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="web-workshop">
      <h2>Web Development workshop</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/a.jpg">
                <img
                  src="./assets/images/a.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (1).jpg">
                <img
                  src="./assets/images/d (1).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (2).jpg">
                <img
                  src="./assets/images/d (2).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="iot-workshop">
      <h2>IOT workshop</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/a.jpg">
                <img
                  src="./assets/images/a.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (1).jpg">
                <img
                  src="./assets/images/d (1).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (2).jpg">
                <img
                  src="./assets/images/d (2).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- WORKSHOP CONTAINER END -->

  <!-- OFFICIAL CONTAINER -->
  <div id="official" class="container-fluid">
    <h1>OFFICIAL EVENTS</h1>
    <div class="techbhookads">
      <h2>Techbhookads</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="foundation-day">
      <h2>Foundation day</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="freshers-party">
      <h2>Freshers Party</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 20rem;">
            <div class="inner">
              <a href="./assets/images/d (3).jpg">
                <img
                  src="./assets/images/d (3).jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- OFFICIAL CONTAINER END -->

  <!-- OTHERS CONTAINER -->
  <div id="others" class="container-fluid">
    <h1>OTHER EVENTS</h1>
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow" style="width: 20rem;">
          <div class="inner">
            <a href="./assets/images/d (3).jpg">
              <img
                src="./assets/images/d (3).jpg"
                class="card-img-top"
                alt="..."
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow" style="width: 20rem;">
          <div class="inner">
            <a href="./assets/images/d (3).jpg">
              <img
                src="./assets/images/d (3).jpg"
                class="card-img-top"
                alt="..."
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow" style="width: 20rem;">
          <div class="inner">
            <a href="./assets/images/d (3).jpg">
              <img
                src="./assets/images/d (3).jpg"
                class="card-img-top"
                alt="..."
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow" style="width: 20rem;">
          <div class="inner">
            <a href="./assets/images/d (3).jpg">
              <img
                src="./assets/images/d (3).jpg"
                class="card-img-top"
                alt="..."
              />
            </a>
          </div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- OTHERS CONTAINER END -->
</div>
