<footer>
    <div class="container mt-5 text-white">
        <!-- contact and newsletter -->
        <div class="row pt-5 pb-3">
            <!-- OOUG contact -->
            <div class="col-md-4 col-12 my-auto">
                <img src="../../../assets/imgs/footer-logo.png" alt="footer_logo" class="img-fluid" width="50%">
                <div class="ml-2 mt-2">
                    OOUG Office,<br> 2<sup>nd</sup> Floor, CSE Block,<br> GIET University, Gunupur.
                </div>
            </div>
            <!-- extra space // can be used later -->
            <div class="col-md-4 col-12">
                &nbsp;
            </div>
            <!-- subscaribe to newsletter -->
            <div class="col-md-4 col-12 my-auto">
                <h5>Subscribe to newsletter</h5>
                <form class="form">
                    <div class="form-group">
                        <input type="email" placeholder="Email Address" name="email" id="email" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
        <!-- hr -->
        <div class="row">
            <div class="col-md-12 col-12">
                <hr class="bg-white">
            </div>
        </div>
        <!-- copyright and social icons -->
        <div class="row pb-3">
            <div class="col-md-8 col-12">
                Copyright &copy; 2011-2020 &nbsp;&nbsp; ALL RIGHTS RESERVED | DESIGNED WITH <i class="fa fa-heart"></i> BY TEAM OOUG
            </div>
            <div class="col-md-4 col-12">
                <span class="mx-auto">
                    <a href="#" class="text-white"><i class="fab fa-2x fa-facebook-square"></i></a>&nbsp;
                    <a href="#" class="text-white"><i class="fab fa-2x fa-twitter-square"></i></a>&nbsp;
                    <a href="#" class="text-white"><i class="fab fa-2x fa-instagram-square"></i></a>&nbsp;
                </span>
            </div>
        </div>
    </div>
</footer>