<footer>
  <div class="container text-white">
    <!-- contact and newsletter -->
    <div class="row pt-5 pb-3">
      <!-- OOUG contact -->
      <div class="col-md-4 col-12 my-auto">
        <img
          src="./assets/images/footer-logo.png"
          alt="footer_logo"
          class="img-fluid"
          width="50%"
        />
        <div class="ml-2 mt-2">
          OOUG Office,<br />
          2<sup>nd</sup> Floor, CSE Block,<br />
          GIET University, Gunupur.
        </div>
      </div>
      <!-- extra space // can be used later -->
      <div class="col-md-4 col-12">
        &nbsp;
      </div>
      <!-- subscribe to newsletter -->
      <div class="col-md-4 col-12 my-auto">
        <h5>Subscribe to newsletter</h5>
        <form class="form" [formGroup]="subscribeForm" (ngSubmit)="subscribe()">
          <div class="form-group">
            <input
              type="email"
              placeholder="Email Address"
              name="email"
              id="email"
              class="form-control"
              formControlName="email"
              required
              email
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="subscribeForm.invalid"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>
    <!-- hr -->
    <div class="row">
      <div class="col-md-12 col-12">
        <hr class="bg-white" />
      </div>
    </div>
    <!-- copyright and social icons -->
    <div class="row pb-3">
      <div class="col-md-8 col-12 my-auto">
        Copyright &copy; 2011-2020 &nbsp;&nbsp; ALL RIGHTS RESERVED | DESIGNED
        WITH <img src="./assets/svgs/social/heart.svg" alt="Heart" /> BY TEAM
        OOUG
      </div>
      <div class="col-md-4 col-12">
        <span>
          <a href="#" title="Facebook" class="text-white"
            ><img src="./assets/svgs/social/facebook.svg" alt="facebook" /></a
          >&nbsp;
          <a href="#" title="Twitter" class="text-white"
            ><img src="./assets/svgs/social/twitter.svg" alt="twitter" /></a
          >&nbsp;
          <a href="#" title="Instagram" class="text-white"
            ><img src="./assets/svgs/social/instagram.svg" alt="instagram" /></a
          >&nbsp;
        </span>
      </div>
    </div>
  </div>
</footer>
