@import "https://fonts.googleapis.com/css?family=Good+Times";
div.dropdown-menu {
    background-color: #652e90;
    border: 1px solid gray;
    a.dropdown-item:hover {
        background-color: #7c41a8;
    }
}

.navbar-brand {
    font-family: "GoodTimesRg-Regular";
    font-size: 1.5rem;
}

.navbar {
    transition: background-color .3s;
}

.dropdown-toggle {
    cursor: pointer;
}