<div style="background-color: blanchedalmond;">
  <ngb-carousel #carousel [interval]="1000" [pauseOnHover]="pauseOnHover" style="background-color: rgb(133, 126, 126);">
    <ng-template ngbSlide *ngFor="let img of images; index as i">

      <div class="carousel-caption">
        <h2 style="color: rgb(196, 192, 192);">Join Our Events</h2>
        <nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-sm navbar-expand-xl navbar-dark">
          <ul ngbNav #nav="ngbNav" class="navbar-nav ml-auto">
            <li [ngbNavItem]="1" class="but">
              <a class="nav-link" (click)="activateTab('all')" ngbNavLink><span class="bar-but"><b>All</b></span></a>
            </li>
            <li [ngbNavItem]="2" class="but">
              <a class="nav-link" (click)="activateTab('workshop')" ngbNavLink><span
                  class="bar-but"><b>Workshop</b></span></a>
            </li>
            <li [ngbNavItem]="3" class="but">
              <a class="nav-link" (click)="activateTab('techbhukkads')" ngbNavLink><span
                  class="bar-but"><b>Techbhukkads</b></span></a>
            </li>
            <li [ngbNavItem]="4" class="but">
              <a class="nav-link" (click)="activateTab('farewell')" ngbNavLink>
                <span class="bar-but"><b> Farewell
                    Celebration</b></span>
              </a>
            </li>
          </ul>
        </nav>
        <p>{{ slidertitle[i] }}</p>
      </div>
      <a href="#" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper img-box">
          <img [src]="img" alt="image not found!!" height="450px" width="100%">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>


  <!--------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------->


  <div class="container" *ngIf="active === 'all'">
    <div class="card activity-box" *ngFor="let item of all; let i = index">
      <div class="row">
        <div class="col-md-5 my-1">
          <div class="card card-block text-light my-1">
            <img class="card-img-top" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" />
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title" style="line-height: 0.7rem;">
            {{ item.name }}
          </h5>
          <p class="card-text text-light">At: {{ item.place }}</p>
          <p class="card-text text-light">On: {{ item.date }}</p>
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="active === 'workshop'">
    <div class="card activity-box" *ngFor="let item of workshop; let i = index">
      <div class="row">
        <div class="col-md-5 my-1">
          <div class="card card-block text-light my-1">
            <img class="card-img-top" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" />
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title" style="line-height: 0.7rem;">
            {{ item.name }}
          </h5>
          <p class="card-text text-light">At: {{ item.place }}</p>
          <p class="card-text text-light">On: {{ item.date }}</p>
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="active === 'techbhukkads'">
    <div class="card activity-box" *ngFor="let item of techbhukkads; let i = index">
      <div class="row">
        <div class="col-md-5 my-1">
          <div class="card card-block text-light my-1">
            <img class="card-img-top" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" />
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title" style="line-height: 0.7rem;">
            {{ item.name }}
          </h5>
          <p class="card-text text-light">At: {{ item.place }}</p>
          <p class="card-text text-light">On: {{ item.date }}</p>
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="active === 'farewell'">
    <div class="card activity-box" *ngFor="let item of farewell; let i = index">
      <div class="row">
        <div class="col-md-5 my-1">
          <div class="card card-block text-light my-1">
            <img class="card-img-top" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" />
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title" style="line-height: 0.7rem;">
            {{ item.name }}
          </h5>
          <p class="card-text text-light">At: {{ item.place }}</p>
          <p class="card-text text-light">On: {{ item.date }}</p>
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
