//-------------------modal---------------------
.col-md-4 {
  margin: 0;
  padding: 0;
}
.left {
  text-align: left;
  color: #311f55;
}
.center {
  text-align: center;
  color: #311f55;
}
.right {
  text-align: right;
  color: #311f55;
}
.modal-image {
  height: 250px;
  width: 75%;
  margin-top: 8px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  align-items: center;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
}
.event-heading {
  color: white;
  font-size: 30px;
  background-color: #432d70;
  padding-left: 20px;
}
.close {
  opacity: 1;
  margin-right: 5px;
  margin-top: 3px;
}
@media (max-width: 1000px) {
  .close {
    margin-right: 3px;
    margin-top: 0;
  }
  .modal-image {
    height: 250px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .left {
    text-align: center;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: center;
  }
  .event-heading {
    font-size: 25px;
    padding-left: 5px;
  }
}
.cross {
  position: absolute;
  z-index: 5;
  margin-top: 4px;
  margin-left: -36px;
  background-color: #6a097d;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 1px;
  padding-bottom: 7px;
  border-radius: 50%;
}

//--------------------nav bar----------------------
.bar-but {
  color: black;
  text-shadow: 0 0 0.05rem #ffffff;
  font-size: 14px;
  padding: 7px;
  margin: 10px;
  background: linear-gradient(145deg, rgb(181, 176, 247), blue);
  cursor: pointer;
}
.active {
  background-color: blue;
  color: white;
  font-size: 14px;
  padding: 7px;
  margin: 10px;
  cursor: pointer;
}
.bar-but:hover {
  background-color: rgb(17, 0, 255);
}
//-----------------slide bar------------------------
ngb-carousel {
  z-index: 1;
  padding: 0;
}
.carousel-caption {
  padding: 0;
}
.slid {
  width: 90%;
  border: 2px solid black;
}
.imag {
  height: 400px;
}
@media (max-width: 950px) {
  .imag {
    height: 350px;
  }
}
@media (max-width: 850px) {
  .imag {
    height: 300px;
  }
}
@media (max-width: 750px) {
  .imag {
    height: 250px;
  }
}
@media (max-width: 600px) {
  .imag {
    height: 200px;
  }
}

//-----------------cards-----------------------------
.container {
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.row {
  padding: 0;
  margin: 0;
}
.col-md-4 {
  padding: 5px;
  margin: 0;
}

.col-sm-6 {
  padding: 5px;
  margin: 0;
}

.banner {
  position: relative;
  cursor: pointer;
}
.image {
  border-radius: 2%;
}

.date-cor {
  position: absolute;
  background-size: cover;
  width: 98%;
  top: 2%;
  text-align: right;
  font-size: 10px;
  color: white;
}
.heading {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  height: 100%;
  border-radius: 2%;
}
