<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="background-color: rgb(197, 192, 185);">
  <ngb-carousel #carousel [interval]="2000" [pauseOnHover]="pauseOnHover" style="background-color: rgb(133, 126, 126);">
    <ng-template ngbSlide *ngFor="let img of images; index as i" delay="toast.delay || 10000">
      <div class="carousel-caption">
        <h2 style="color: rgb(44, 5, 5);">Join Our Events</h2>
        <div style="height: 0.5px; background-color: black;"></div>
        <nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark">

          <ul ngbNav #nav="ngbNav" class="navbar-nav ml-auto">
            <li [ngbNavItem]="1" class="but">
              <a (click)="activateTab('all')"><span class="bar-but"><b>All</b><br></span></a>
            </li>
            <li [ngbNavItem]="2" class="but">
              <a (click)="activateTab('workshop')"><span class="bar-but"><b>Workshop</b><br></span></a>
            </li>
            <li [ngbNavItem]="3" class="but">
              <a (click)="activateTab('techbhukkads')"><span class="bar-but"><b>Techbhukkads</b><br></span></a>
            </li>
            <li [ngbNavItem]="4" class="but">
              <a (click)="activateTab('farewell')">
                <span class="bar-but"><b>Farewell Celibration</b><br></span>
              </a>
            </li>
          </ul>
        </nav>
        <div style="height: 1px; background-color: black;"></div>
        <p style="font-family: cursive; color: rgb(255, 217, 0);text-shadow: 0 0 0.1rem rgb(0, 0, 0);font-size: 13px;">
          {{ slidertitle[i] }}</p>
      </div>
      <a href="#" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper img-box">
          <img style="opacity: 0.4;" [src]="img" alt="image not found!!" height="450px" width="100%"> </div>
      </a>
    </ng-template>
  </ngb-carousel>


  <!--------------------------------------------------------------------------->
  <form class="search-bar form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Type to Search" aria-label="Search">
    <button class="btn my-2 my-sm-0" type="submit">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </form>
  <!--------------------------------------------------------------------------->


  <!-----------------OOUGian of the year---------------------->



  <!---------------------------------------------------------------->



  <div class="container" *ngIf="active === 'all'">
    <div class="image-deck row">
      <div class="box col-md-4 col-sm-6" *ngFor="let item of all;">
        <div class="front">
          <div class="banner">
            <img class="image" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" height="250px"
              width="100%" />
            <div class="date-cor">
              <b>01-02-2020</b>
            </div>
            <div class="heading">
              <div style="margin-left:5px;">
                <b style="color:rgb(255, 255, 255);">Event name</b><br>
                <b style="color: rgb(204, 198, 187);">Organized by</b>
              </div>
            </div>
          </div>
        </div>
        <div class="back middle">
          <div class="banner">
            <img class="image" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" height="250px"
              width="100%" />
            <div class="heading-back">
              <div align=right style="margin: 5px;">
                <a href="#" style="text-decoration: none;"><span class="buts"><b>more...</b></span></a>
              </div>
              <div style="margin: 10px; color: white;margin-top: 40px;">
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="active === 'workshop'">
    <div class="image-deck row">
      <div class="box col-md-4 col-sm-6" *ngFor="let item of workshop;">
        <div class="front">
          <div class="banner">
            <img class="image" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" height="250px"
              width="100%" />
            <div class="date-cor">
              <b>01-02-2020</b>
            </div>
            <div class="heading">
              <div style="margin-left:5px;">
                <b style="color:rgb(255, 255, 255);">Event name</b><br>
                <b style="color: rgb(204, 198, 187);">Organized by</b>
              </div>
            </div>
          </div>
        </div>
        <div class="back middle">
          <div class="banner">
            <img class="image" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" height="250px"
              width="100%" />
            <div class="heading-back">
              <div style="margin: 10px; color: white;margin-top: 40px;">
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" *ngIf="active === 'techbhukkads'">
    <div class="image-deck row">
      <div class="box col-md-4 col-sm-6" *ngFor="let item of techbhukkads;">
        <div class="front">
          <div class="banner">
            <img class="image" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" height="250px"
              width="100%" />
            <div class="date-cor">
              <b>01-02-2020</b>
            </div>
            <div class="heading">
              <div style="margin-left:5px;">
                <b style="color:rgb(255, 255, 255);">Event name</b><br>
                <b style="color: rgb(204, 198, 187);">Organized by</b>
              </div>
            </div>
          </div>
        </div>
        <div class="back middle">
          <div class="banner">
            <img class="image" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" height="250px"
              width="100%" />
            <div class="heading-back">
              <div style="margin: 10px; color: white;margin-top: 40px;">
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" *ngIf="active === 'farewell'">
    <div class="image-deck row">
      <div class="box col-md-4 col-sm-6" *ngFor="let item of farewell;">
        <div class="front">
          <div class="banner">
            <img class="image" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" height="250px"
              width="100%" />
            <div class="date-cor">
              <b>01-02-2020</b>
            </div>
            <div class="heading">
              <div style="margin-left:5px;">
                <b style="color:rgb(255, 255, 255);">Event name</b><br>
                <b style="color: rgb(204, 198, 187);">Organized by</b>
              </div>
            </div>
          </div>
        </div>
        <div class="back middle">
          <div class="banner">
            <img class="image" src="{{ item.Image.host + item.Image.path }}" alt="Card image cap" height="250px"
              width="100%" />
            <div class="heading-back">
              <div style="margin: 10px; color: white;margin-top: 40px;">
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
