<!-- activities works! -->

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title> </title>

</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header text-primary">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <i class="fas fa-align-left"></i>
                    <span class="icon-bar">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <style>
        body {
            margin: 0;
            font-family: Montserrat;
            text-align: center;
        }

        #c {
            color: red;
        }

        #d {
            color: black
        }

        .container {
            width: 100%;
            padding: 30px;
            margin: 0px auto;
            background: rgb(247, 246, 247);
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .box {
            width: 350px;
            height: 100%;
            background: #fff;
            margin: 0px 10px;
            transition: 1s;

        }

        .box:hover {
            transform: scale(1.3);
            background: #dbdbdb;
            z-index: 2;
            box-shadow: 2px 2px 2px rgb(245, 241, 244);

        }

        @media all and (max-width: 420px) {

            section,
            aside {
                float: none;
                width: auto;
            }
        }
    </style>
    </head>

    <body style="background-color: #fff;">
        <div class="container-fluid" style="margin-top:10px; margin-bottom: 5%;">
            <center>
                <tr><b style="font: 50px Good Times; color:red;">OOUG </b><b
                        style="font: 3.2rem Montserrat; color:#000000">EVENTS</b></tr>
            </center>

            <!-- Workshop Container -->
            <br>
            <div class="container-fluid" id="workshop" style="margin-top: 1%;">
                <b id="heading" style="font-size: 25px; color: black;">WORKSHOP</b>

                <div class="container">
                    <div class="box">
                        <img src="images/a.jpg" alt="" width="100%">
                        <div class="card-body">
                            <b>
                                <h4 class="card-title">Card title</h4>
                            </b>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>

                    </div>
                    <div class="box">
                        <img src="images/e.jpg" alt="" width="100%">
                        <div class="card-body">
                            <b>
                                <h4 class="card-title">Card title</h4>
                            </b>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>

                    </div>
                    <div class="box">
                        <img src="images/d (1).jpg" alt="" width="100%">
                        <div class="card-body">
                            <b>
                                <h4 class="card-title">Card title</h4>
                            </b>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="images/d (4).jpg" alt="" width="100%">
                        <div class="card-body">
                            <b>
                                <h4 class="card-title">Card title</h4>
                            </b>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>


                    </div>

                </div>
                <div class="container">
                    <div class="box">
                        <img src="images/a.jpg" alt="" width="100%">
                        <div class="card-body">
                            <b>
                                <h4 class="card-title">Card title</h4>
                            </b>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>

                    </div>
                    <div class="box">
                        <img src="images/a.jpg" alt="" width="100%">
                        <div class="card-body">
                            <b>
                                <h4 class="card-title">Card title</h4>
                            </b>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>

                    </div>
                    <div class="box">
                        <img src="images/a.jpg" alt="" width="100%">
                        <div class="card-body">
                            <b>
                                <h4 class="card-title">Card title</h4>
                            </b>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="images/a.jpg" alt="" width="100%">
                        <div class="card-body">
                            <b>
                                <h4 class="card-title">Card title</h4>
                            </b>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>


                    </div>
                    <!-- Workshop Container -->


                </div>
                <!-- official event Container -->

                <div class="container-fluid" id="workshop" style="margin-top: 1%;">
                    <b id="heading" style="font-size: 25px; color: black;"> TECHBHUKKADS</b>

                    <div class="container">
                        <div class="box">
                            <img src="images/a.jpg" alt="" width="100%">
                            <div class="card-body">
                                <b>
                                    <h4 class="card-title">Card title</h4>
                                </b>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>

                        </div>
                        <div class="box">
                            <img src="images/a.jpg" alt="" width="100%">
                            <div class="card-body">
                                <b>
                                    <h4 class="card-title">Card title</h4>
                                </b>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>

                        </div>
                        <div class="box">
                            <img src="images/a.jpg" alt="" width="100%">
                            <div class="card-body">
                                <b>
                                    <h4 class="card-title">Card title</h4>
                                </b>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="box">
                            <img src="images/a.jpg" alt="" width="100%">
                            <div class="card-body">
                                <b>
                                    <h4 class="card-title">Card title</h4>
                                </b>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>


                        </div>

                    </div>
                    <!-- official even Container  end-->


                </div>
                <!-- official event Container -->

                <div class="container-fluid" id="workshop" style="margin-top: 1%;">
                    <b id="heading" style=" font-size: 25px; color: black;"> FRESHER'S PARTY</b>

                    <div class="container">
                        <div class="box">
                            <img src="images/a.jpg" alt="" width="100%">
                            <div class="card-body">
                                <b>
                                    <h4 class="card-title">Card title</h4>
                                </b>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>

                        </div>
                        <div class="box">
                            <img src="images/a.jpg" alt="" width="100%">
                            <div class="card-body">
                                <b>
                                    <h4 class="card-title">Card title</h4>
                                </b>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>

                        </div>
                        <div class="box">
                            <img src="images/a.jpg" alt="" width="100%">
                            <div class="card-body">
                                <b>
                                    <h4 class="card-title">Card title</h4>
                                </b>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="box">
                            <img src="images/a.jpg" alt="" width="100%">
                            <div class="card-body">
                                <b>
                                    <h4 class="card-title">Card title</h4>
                                </b>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>


                        </div>

                    </div>























                    <!-- Optional JavaScript -->
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                        crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                        crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                        crossorigin="anonymous"></script>
    </body>

</html>