.container {
  padding-top: 5rem;
  min-height: 85vh;
  background-color: red($color: #ff0000);
}

#title {
  font-family: Roboto;
}

.card {
  transition: box-shadow 0.3s;
  background-color: #652e90;
}

.card:hover {
  box-shadow: 0 0 2rem #652e90;
}

.activity {
  font: bold 3rem 'Montserrat';
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a7d5, #23d5ab);
  background-size: 300%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300% 0;
  }
}
