<h1 style="text-align: center;">MEMBERS</h1>
<div
  style="background-color: rgb(170, 123, 214);"
  class="container-fluid text-white p-1"
>
  <h3 style="text-align: center;">PRESIDENT</h3>
</div>
<br /><br />
<div class="row">
  <div class="column" class="text-center">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container-fluid bg-dark text-white p-1">
  <h3 style="text-align: center;">CORPORATE MEMBERS</h3>
</div>
<br /><br />
<div class="row">
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-dark text-white p-1">
  <h3 style="text-align: center;">STUDENT MEMBERS</h3>
</div>

<br /><br />

<div class="row">
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="text-align: center; align-items: center;">
      <img src="./assets/images/img.png" alt="Avatar" class="avatar" />
      <div class="container">
        <!-- <h2 class="overlay">Jane Doe</h2> -->
        <!--   -->
        <p><button class="button">NAME</button></p>
      </div>
    </div>
  </div>
</div>
