//---------------Students members---------------------------------
.container {
  padding: 0;
  margin: 0;
}
.row {
  padding: 0;
  margin: 0;
}
.navbar {
  align-content: right;
}
.bar-but {
  color: rgb(66, 5, 5);
}
.bar-but:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}
.stud-button {
  background-color: black;
  color: white;
  padding: 3px;
}
.student-button {
  border: none;
}
.member-img {
  width: 110px;
  height: 110px;
  background-color: yellow;
  border-radius: 50%;
}
.modal-body {
  padding: 0;
  color: white;
}
.modal-img {
  margin-top: 7px;
  margin-bottom: 12px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
//-------------------------------------------------------------------

//-------------------------------------adarsh -------------start-------------------------------------------------------------------
//==================================================================================================================================

//------------president------------------
//display picture
.avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin: auto;
  border-color: white;
  border-width: thick;
}
//text formats
.nme {
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.514);
}
.msg1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: rgb(0, 0, 0);
  font-size: xx-large;
}
//president container
#founder {
  background-color: #b4b4ff41;
  margin: 3%;
  padding: 3%;
  border-radius: 1px;
  box-shadow: inset 0 0 26px rgba(255, 255, 255, 0.884);
  border-radius: 2%;
}
//president name plate
#nameplate {
  z-index: 1;
  border-radius: 30px;
  background-color: blueviolet;
  width: 130%;
  margin-left: -30%;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  font-family: cursive;
}
//social media links
.icons:hover {
  filter: brightness(150%);
}

@media only screen and (max-width: 800px) {
  .avatar {
    width: max-width;
    height: auto;
  }
  #nameplate {
    text-align: right;
    font-size: larger;
  }
}
//===============================================================================================================================
// -- --------------------------------------------------------------adarsh------end----------------------------------------------

// --------------------------------CSS of Corporate members--------------------------------------
body{
  margin: 0;
  padding: 0;
  background: #333;
  font-family: "Montserrat",Arial, Helvetica, sans-serif;
}
.accordian,.card-header:after{
  font-family: 'FontAwesome';
  content: "\f068";
  float:right;
}

.accordian,.card-header,.collapsed:after{
  content: "\f067";
}

.card-header,.card{
  background:#120136;
  text-align: center;
  color:#fff;
  width:100%;
}

.card-title{
  font:2rem "Montserrat";
}

.image{
border-radius: 50%;
height:145px;
width:145px;
margin: 2%;
}

.box-container{
position: absolute;
text-align: center;
padding: 3%;
}

.row{
margin: 2rem;
}

.box{
padding: 5px;;
}

.modal-header,.close{
background:url('../../../assets/images/background.jpg');
color:#fff;
}

.modal-body{
  color:#000;
}

.close{
background: none;
}

.close:hover{
color:#fff;
outline: none;
background: none;
}

.info-body{
margin: 10px;
color: #fff;
}

.information{
line-height: 20px;
font-family: "poppins",Arial, Helvetica, sans-serif;
}

h3.information{
font-size: 21px;
}

h4.information{
font-size: 21px;
}

@media (min-width:768px) and (max-width:1024px){
.image{
width:180px;
height: 180px;
}

.row{
  margin: 5px;
}

h3.information{
font-size: 25px;
}

h4.information{
font-size: 24px;
}
}

@media (max-width:767px){
.image{
width:120px;
height: 120px;
}

.card-title{
  font-size: 20px;
}

.row{
  margin: 10px;
}

.information{
  line-height: 18px;
}

h3.information{
font-size: 18px;
}

h4.information{
font-size: 17px;
}
}


//=============================================================================================