<div style="margin-top: 15%;">
  <div style="background-color: rgb(119, 96, 80);">
    <nav class="navbar-expand navbar-dark">
      <div class="navbar-collapse text-center" id="navbarSupportedContent">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="navbar-nav ml-auto">
          <li [ngbNavItem]="1" class="but">
            <a class="nav-link" ngbNavLink>President</a>
            <ng-template ngbNavContent>
              <div class="founder">
                <div style="align-items: center; background-color: transparent;">
                  <div class="card card-block text-light my-1">
                    <div class="flip-box">
                      <div class="flip-box-inner">
                        <div class="flip-box-front">
                          <img class="image card-img-top" src="./assets/images/sir.jpg" alt="" class="avatar" />
                        </div>
                        <div class="flip-box-back"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nme" style="text-align: center;">
                  <h1>Amiya Kumar Sahoo</h1>
                  <div class="text-center">
                    <a href="#" class="iconsp btn btn-sm mx-1">
                      <img src="./assets/images/social/twitter.svg" alt="" />
                    </a>
                    <a href="$" class="iconsp btn btn-sm mx-1">
                      <img src="./assets/images/social/instagram.svg" alt="" />
                    </a>
                    <a href="#" class="iconsp btn btn-sm mx-1">
                      <img src="./assets/images/social/github.svg" alt="" />
                    </a>
                    <a href="#" class="iconsp btn btn-sm mx-1">
                      <img src="./assets/images/social/linkedin.svg" alt="" />
                    </a>
                  </div>
                  <hr style="margin: 0em;" />

                  <b class="msg2">somthing somthing</b>

                  <br /><br />
                  <p class="msg1" style="text-align: left;">
                    Message From The President:
                  </p>
                  <p class="msg2">
                    j dsjwefw ejhfvejf ajhve ghv jhvfe3 jhevf gecf gavefh ge vef
                    khewf kjbef hwjf jhevf jwhevvf we kaf jhvj jhqvw qwgvw
                    gwhcvw qgv nagwvd nwvdh mhwef hevf hevf nwhevf jwb Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Non a
                    nulla ipsum sed maxime? Illo dicta ad maiores! Harum
                    cupiditate aspernatur voluptatem assumenda doloribus itaque
                    libero corporis ipsam esse maxime. lorem Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Ratione laudantium
                    unde ex, minus facere molestias odit quis veniam aut
                    reprehenderit quia recusandae, cupiditate dolore id, animi
                    distinctio exercitationem eligendi eveniet?
                  </p>
                </div>
              </div>
            </ng-template>
          </li>
          <!----------------------------------------------------------------------------------------------->

          <li [ngbNavItem]="2" class="but">
            <a ngbNavLink>Corporate Members</a>
            <ng-template ngbNavContent>
              <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
                <div class="row">
                  <div class="col-md-6" *ngFor="let member of corporateMembers; let i = index">
                    <div class="container">
                      <div class="det-box row" style="margin: auto;">
                        <div class="box col-md-5">
                          <div class="front" style="border-radius: 5px;">
                            <img src="{{ member.Image.host + member.Image.path }}" alt="Avatar1" height="100%"
                              width="100%" />
                          </div>
                          <div class="back midd" style="
                              background-color: rgb(143, 138, 138);
                              border-radius: 5px;
                            ">
                            <b class="msg">
                              sit amet consectetur adipisicing eli. Lorem ipsum,
                              dolor sit amet consectetur adipisicing elit. Eius
                              excepturi, quas vel ad quia totam dolor sit amet
                            </b>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="details">
                            <b>name of the member</b><br />
                            <b class="msg">
                              Lorem ipsum, dolor sit amet consectetur
                              adipisicing elit. Eius excepturi, quas vel ad quia
                              totam dolor sit amet consectetur adipisicing eli.
                              Lorem ipsum, dolor sit amet consectetur
                              adipisicing elit. Eius excepturi, quas vel ad quia
                              totam dolor sit amet
                            </b>
                            <hr />
                            <div class="text-center" style="margin-top: 0;">
                              <a href="{{ member.Links.insta }}" class="icons btn btn-sm mx-1">
                                <img src="./assets/images/social/instagram.svg" alt="" />
                              </a>
                              <a href="{{ member.Links.github }}" class="icons btn btn-sm mx-1">
                                <img src="./assets/images/social/github.svg" alt="" />
                              </a>
                              <a href="{{ member.Links.linkedin }}" class="icons btn btn-sm mx-1">
                                <img src="./assets/images/social/linkedin.svg" alt="" />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" class="but">
            <div [ngbNavItem]="3" ngbDropdown class="d-inline-block">
              <button class="but nav-link" id="dropdownBasic1" ngbDropdownToggle>
                Student Members
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background-color: rgb(119, 96, 80);">
                <ul ngbNav #nav2="ngbNav" [(activeId)]="active">
                  <li [ngbNavItem]="3" class="but">
                    <a class="nav-link" ngbNavLink>2nd year Members</a>
                    <ng-template ngbNavContent>
                      <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="row">
                          <div class="col-md-6" *ngFor="
                              let member of studentMembers2ndyear;
                              let i = index
                            ">
                            <div class="container">
                              <div class="det-box row" style="margin: auto;">
                                <div class="box col-md-5">
                                  <div class="front" style="border-radius: 5px;">
                                    <img src="{{
                                        member.Image.host + member.Image.path
                                      }}" alt="Avatar1" height="100%" width="100%" />
                                  </div>
                                  <div class="back midd" style="
                                      background-color: rgb(143, 138, 138);
                                      border-radius: 5px;
                                    ">
                                    <b class="msg">
                                      sit amet consectetur adipisicing eli.
                                      Lorem ipsum, dolor sit amet consectetur
                                      adipisicing elit. Eius excepturi, quas vel
                                      ad quia totam dolor sit amet
                                    </b>
                                  </div>
                                </div>
                                <div class="col-md-7">
                                  <div class="details">
                                    <b>name of the member</b><br />
                                    <b class="msg">
                                      Lorem ipsum, dolor sit amet consectetur
                                      adipisicing elit. Eius excepturi, quas vel
                                      ad quia totam dolor sit amet consectetur
                                      adipisicing eli. Lorem ipsum, dolor sit
                                      amet consectetur adipisicing elit. Eius
                                      excepturi, quas vel ad quia totam dolor
                                      sit amet
                                    </b>
                                    <hr />
                                    <div class="text-center" style="margin-top: 0;">
                                      <a href="{{ member.Links.insta }}" class="icons btn btn-sm mx-1">
                                        <img src="./assets/images/social/instagram.svg" alt="" />
                                      </a>
                                      <a href="{{ member.Links.github }}" class="icons btn btn-sm mx-1">
                                        <img src="./assets/images/social/github.svg" alt="" />
                                      </a>
                                      <a href="{{ member.Links.linkedin }}" class="icons btn btn-sm mx-1">
                                        <img src="./assets/images/social/linkedin.svg" alt="" />
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <hr />
                            </div>
                            <br />
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="4" class="but">
                    <a ngbNavLink>3rd year Members</a>
                    <ng-template ngbNavContent>
                      <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="row">
                          <div class="col-md-6" *ngFor="
                              let member of studentMembers3rdyear;
                              let i = index
                            ">
                            <div class="container">
                              <div class="det-box row" style="margin: auto;">
                                <div class="box col-md-5">
                                  <div class="front" style="border-radius: 5px;">
                                    <img src="{{
                                        member.Image.host + member.Image.path
                                      }}" alt="Avatar1" height="100%" width="100%" />
                                  </div>
                                  <div class="back midd" style="
                                      background-color: rgb(143, 138, 138);
                                      border-radius: 5px;
                                    ">
                                    <b class="msg">
                                      sit amet consectetur adipisicing eli.
                                      Lorem ipsum, dolor sit amet consectetur
                                      adipisicing elit. Eius excepturi, quas vel
                                      ad quia totam dolor sit amet
                                    </b>
                                  </div>
                                </div>
                                <div class="col-md-7">
                                  <div class="details">
                                    <b>name of the member</b><br />
                                    <b class="msg">
                                      Lorem ipsum, dolor sit amet consectetur
                                      adipisicing elit. Eius excepturi, quas vel
                                      ad quia totam dolor sit amet consectetur
                                      adipisicing eli. Lorem ipsum, dolor sit
                                      amet consectetur adipisicing elit. Eius
                                      excepturi, quas vel ad quia totam dolor
                                      sit amet
                                    </b>
                                    <hr />
                                    <div class="text-center">
                                      <a href="{{ member.Links.insta }}" class="icons btn btn-sm mx-1">
                                        <img src="./assets/images/social/instagram.svg" alt="" />
                                      </a>
                                      <a href="{{ member.Links.github }}" class="icons btn btn-sm mx-1">
                                        <img src="./assets/images/social/github.svg" alt="" />
                                      </a>
                                      <a href="{{ member.Links.linkedin }}" class="icons btn btn-sm mx-1">
                                        <img src="./assets/images/social/linkedin.svg" alt="" />
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <hr />
                            </div>
                            <br />
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="5" class="but">
                    <a ngbNavLink>4th year Members</a>
                    <ng-template ngbNavContent>
                      <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="row">
                          <div class="col-md-6" *ngFor="
                              let member of studentMembers4thyear;
                              let i = index
                            ">
                            <div class="container">
                              <div class="det-box row" style="margin: auto;">
                                <div class="box col-md-5">
                                  <div class="front" style="border-radius: 5px;">
                                    <img src="{{
                                        member.Image.host + member.Image.path
                                      }}" alt="Avatar1" height="100%" width="100%" />
                                  </div>
                                  <div class="back midd" style="
                                      background-color: rgb(143, 138, 138);
                                      border-radius: 5px;
                                    ">
                                    <b class="msg">
                                      sit amet consectetur adipisicing eli.
                                      Lorem ipsum, dolor sit amet consectetur
                                      adipisicing elit. Eius excepturi, quas vel
                                      ad quia totam dolor sit amet
                                    </b>
                                  </div>
                                </div>
                                <div class="col-md-7">
                                  <div class="details">
                                    <b>name of the member</b><br />
                                    <b class="msg">
                                      Lorem ipsum, dolor sit amet consectetur
                                      adipisicing elit. Eius excepturi, quas vel
                                      ad quia totam dolor sit amet consectetur
                                      adipisicing eli. Lorem ipsum, dolor sit
                                      amet consectetur adipisicing elit. Eius
                                      excepturi, quas vel ad quia totam dolor
                                      sit amet
                                    </b>
                                    <hr />
                                    <div class="text-center">
                                      <a href="{{ member.Links.insta }}" class="icons btn btn-sm mx-1">
                                        <img src="./assets/images/social/instagram.svg" alt="" />
                                      </a>
                                      <a href="{{ member.Links.github }}" class="icons btn btn-sm mx-1">
                                        <img src="./assets/images/social/github.svg" alt="" />
                                      </a>
                                      <a href="{{ member.Links.linkedin }}" class="icons btn btn-sm mx-1">
                                        <img src="./assets/images/social/linkedin.svg" alt="" />
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <hr />
                            </div>
                            <br />
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  <div [ngbNavOutlet]="nav2" class="mt-2"></div>
</div>
