//menu container
#menu {
  margin-top: 0%;
  background-color: rgb(52, 176, 224);
  position: fixed;
  z-index: 1;
  //buttons in menu
  .but {
    border: none;
    background-color: rgb(52, 176, 224);
  }
  .but:hover {
    border: none;
  }
}
// for circular display pictures of president
.avatar {
  vertical-align: middle;
  width: 500px;
  height: 500px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
}

// display picture for members
.dp {
  width: 100%;
  height: auto;
}

// different text formats
//president name
.nme {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.514);
}
//member details in card
.msg {
  // font-family: cursive;
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: lighter;
}
//members name
.name {
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: rgba(0, 0, 0, 0.514);
  font-size: x-large;
  font-weight: lighter;
}
//message of the president title
.msg1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: rgb(0, 0, 0);
  font-size: xx-large;
}
//message from president
.msg2 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: rgb(0, 0, 0);
  font-size: x-large;
  padding-left: 10%;
  padding-right: 10%;
}
//card for each members
.col-md-6 {
  padding: 0;
}
//details of the members card
.det-box {
  background-color: #b4b4ff41;
  border-radius: 10%;
  box-shadow: 0 0 1rem #ffffffe8;
  border-radius: 2%;
}
.det-box:hover {
  box-shadow: inset 0 0 36px rgba(255, 255, 255, 0.884);
  transition: box-shadow 0.3s;
  // background-color: rgb(199, 195, 189);
}
//image container of all members
.col-md-4 {
  padding: 0;
  margin: 0;
}

//--------------------------------

.card {
  transition: box-shadow 0.3s;
  border: 0px;
  background-color: transparent;
}

//president details card
.founder {
  background-color: #b4b4ff41;
  margin: 3%;
  padding: 3%;
  border-radius: 1px;
  box-shadow: inset 0 0 26px rgba(255, 255, 255, 0.884);
  border-radius: 2%;
}

//social media links
.icons:hover {
  filter: brightness(150%);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300% 0;
  }
}
//flip properties for president
//main container
.flip-box {
  background-image: url('C:/git aj/web_04-05/web/src/assets/images/ooug.png');
  background-size: cover;
  width: 500px;
  height: 500px;
  border: none;
  perspective: 1000px;
}
//inner box
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
//front and back side of the card
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
//front side of card
.flip-box-front {
  background-color: transparent;
  color: black;
}
//back side of card
.flip-box-back {
  border-radius: 50%;
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
//flip properties for members
//main container
.flip-box-member {
  background-image: url('C:/git aj/web_04-05/web/src/assets/images/ooug.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  border: none;
  perspective: 1000px;
}
//inner box
.flip-box-inner-member {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
//type of hover effect
.flip-box-member:hover .flip-box-inner-member {
  transform: rotateY(180deg);
}
//front and back of card
.flip-box-front-member,
.flip-box-back-member {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
//front face
.flip-box-front-member {
  background-color: transparent;
  color: black;
}
//back face
.flip-box-back-member {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
//for tablet and mobile phones
@media only screen and (max-width: 700px) {
  //president main flip box
  .flip-box {
    width: 300px;
    height: 300px;
  }
  //---------------------------------------------------------------------------------------------------doubt------change hover to prefered type of ------
  .flip-box-member:hover .flip-box-inner-member {
    transform: rotateY(180deg);
  }
  //---------------------------------------------------------------------------------------------------doubt------change hover to prefered type of ------
  .flip-box:active .flip-box-inner {
    transform: rotateY(180deg);
  }
  //president dp
  .avatar {
    width: 300px;
    height: 300px;
  }
  //member dp
  .flip-box-member {
    width: 300px;
    height: 300px;
  }
  //to make the position of the menu relative
  #menu {
    width: 100%;
    position: relative;
  }
}
