<!-- -------------------------------------adarsh -------------start--------------------------------------------------------------- -->

<div class="container-fluid" style="margin-top: 60px; margin-left: none;">
  <div style="text-align: centre;">
    <h1>OUR MEMBERS</h1>
  </div>
  <div class="container-fluid" style="
        background-color: rgba(140, 106, 172, 0.425);
        color: white;
        text-align: center;
        margin-left: none;
      ">
    <p class="nme">President</p>
  </div>
  <div class="row" style="align-items: center; align-content: center;" id="founder">
    <div class="col-md-4" style="z-index: 2;">
      <img src="./assets/images/president.jpg" alt="" srcset="" class="avatar"  (click)="open(presidentid)" />
    </div>
    <div class="col-md-8"><hr>
      <div class="container" id="nameplate">
        Prof. Amiya Kumar Sahoo &nbsp;
      </div>
      <hr />
      <h3 class="msg1">
        <p style="font-size: larger;">Message from the President:</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem natus
        nulla dolorem perspiciatis eos officia molestias quam qui?
        Exercitationem, accusamus sint inventore expedita explicabo facilis?
        Sunt itaque voluptatem nihil id!
      </h3>
      <hr />
      <div class="text-center" style="align-self: baseline;">
        <a href="#" class="icons btn btn-sm mx-1">
          <img src="./assets/images/social/twitter.png" alt="" />
        </a>
        <a href="#" class="icons btn btn-sm mx-1">
          <img src="./assets/images/social/mail.png" alt="" />
        </a>
        <a href="#" class="icons btn btn-sm mx-1">
          <img src="./assets/images/social/facebook.png" alt="" />
        </a>
        <a href="#" class="icons btn btn-sm mx-1">
          <img src="./assets/images/social/instagram.png" alt="" />
        </a>
        <a href="#" class="icons btn btn-sm mx-1">
          <img src="./assets/images/social/github.png" alt="" />
        </a>
        <a href="#" class="icons btn btn-sm mx-1">
          <img src="./assets/images/social/linkedin.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>


<ng-template #presidentid let-modal>
  <div class="modal-body" style="width: 100%;background-color: black;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-img">
      <img class="modal-img" src="./assets/images/president.jpg" height="100%" width="100%">
    </div>
    <div align="center">
      <b>Prof. Amiya Kumar Sahoo</b><br>
      <span>Computer Science</span><br>
      <span>GIET University, Gunupur</span>
      <br>
      <a href="#" class="icon sp btn btn-sm mx-1">
        <img src="./assets/images/social/twitter.png" alt="" />
      </a>
      <a href="$" class="icon sp btn btn-sm mx-1">
        <img src="./assets/images/social/instagram.png" alt="" />
      </a>
      <a href="#" class="icon sp btn btn-sm mx-1">
        <img src="./assets/images/social/github.png" alt="" />
      </a>
      <a href="#" class="icon sp btn btn-sm mx-1">
        <img src="./assets/images/social/linkedin.png" alt="" />
      </a>
    </div>
    <div style="margin: 7px; text-align: center;">klwec wlec lewc lkwec lkweckjewv lkjwec kje cjweckj wejc wjke
      cjjwelkwerv we we sd fjh
      kerhc kher jr</div>
  </div>


</ng-template>
<!-- -------------------------------------------------------------adarsh------end-------------------------------------------------------  -->

<!-- Corporate members code by Hrushikesh Das -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Necessary CDNs -->
<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="accordion" id="accordion">
    <div class="card mb-0">

      <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse">
        <a class="card-title">
            Corporate Members
        </a>
      </div>
  
      <div class="card-block collapse show" id="collapse">
        <div class="row">
            <div class="box col-lg-3 col-md-4 col-6">
              <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                          <h1>Loren Ipsum</h1>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-dark" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>
                <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                </div>
            </div>
            <div class="box col-lg-3 col-md-4 col-6">
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1>Loren Ipsum</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                  <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                  </div>
              </div>
              <div class="box col-lg-3 col-md-4 col-6">
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1>Loren Ipsum</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                  <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                  </div>
              </div>
              <div class="box col-lg-3 col-md-4 col-6">
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1>Loren Ipsum</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                  <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                  </div>
              </div>
              <div class="box col-lg-3 col-md-4 col-6">
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1>Loren Ipsum</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                  <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                  </div>
              </div>
              <div class="box col-lg-3 col-md-4 col-6">
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1>Loren Ipsum</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                  <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                  </div>
              </div>
              <div class="box col-lg-3 col-md-4 col-6">
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1>Loren Ipsum</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                  <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                  </div>
              </div>
              <div class="box col-lg-3 col-md-4 col-6">
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1>Loren Ipsum</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                  <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                  </div>
              </div>
              <div class="box col-lg-3 col-md-4 col-6">
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1>Loren Ipsum</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                  <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                  </div>
              </div>
              <div class="box col-lg-3 col-md-4 col-6">
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1>Loren Ipsum</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                  <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                  </div>
              </div>
              <div class="box col-lg-3 col-md-4 col-6">
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1>Loren Ipsum</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                  <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                  </div>
              </div>
              <div class="box col-lg-3 col-md-4 col-6">
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1>Loren Ipsum</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-dark" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal"><img class="image" src="./assets/images/demo1.jpg" alt=""></a>
                  <div class="info-body">
                    <h3 class="information">Name</h3>
                    <h4 class="information">Organization</h4>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!-- ========================================================================= -->


<!------------Student Members------------------------------->
<a class="student-button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
  <button type="button" class="close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="stud-button" align="center">
    Students Members
  </div>
</a>

<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <div class="col-12">
        <nav class="navbar navbar-expand">
          <ul ngbNav #nav="ngbNav" class="navbar-nav ml-auto">
            <li [ngbNavItem]="1" class="bar-but"><a class="nav-link" (click)="student('2ndyear')"><b>2nd
                  year</b>
                <div style="background-color: blue; height: 1px;"></div>
              </a></li>
            <li [ngbNavItem]="2" class="bar-but"><a class="nav-link" (click)="student('3rdyear')"><b>3rd
                  year</b>
                <div style="background-color: blue; height: 1px;"></div>
              </a></li>
            <li [ngbNavItem]="3" class="bar-but"><a class="nav-link" (click)="student('4thyear')"><b>4th
                  year</b>
                <div style="background-color: blue; height: 1px;"></div>
              </a></li>
          </ul>
        </nav>
      </div>
      <div class="container">
        <div class="row" *ngIf="year ==='2ndyear'">
          <div class="col-md-3 col-6" align="center" *ngFor="let member of studentMembers2ndyear">
            <a class="btn-outline-primary" (click)="open(id)">
              <div class="member-img">
                <img class="member-img" src="{{ member.Image.host + member.Image.path }}" height="100%" width="100%">
              </div>
              <div>
                <b>{{ member.name }}</b>
                <p>{{ member.branch }}</p>
              </div>
            </a>
          </div>
        </div>
        <div class="row" *ngIf="year ==='3rdyear'">
          <div class="col-md-3 col-6" align="center" *ngFor="let member of studentMembers3rdyear">
            <a class="btn-outline-primary" (click)="open(id)">
              <div class="member-img">
                <img class="member-img" src="{{ member.Image.host + member.Image.path }}" height="100%" width="100%">
              </div>
              <div>
                <b>{{ member.name }}</b>
                <p>{{ member.branch }}</p>
              </div>
            </a>
          </div>
        </div>
        <div class="row" *ngIf="year ==='4thyear'">
          <div class="col-md-3 col-6" align="center" *ngFor="let member of studentMembers4thyear">
            <a class="btn-outline-primary" (click)="open(id)">
              <div class="member-img">
                <img class="member-img" src="{{ member.Image.host + member.Image.path }}" height="100%" width="100%">
              </div>
              <div>
                <b>{{ member.name }}</b>
                <p>{{ member.branch }}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<ng-template #id let-modal>
  <div class="modal-body" style="width: 100%;background-color: black;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-img">
      <img class="modal-img" src="./assets/images/ur.jpg" height="100%" width="100%">
    </div>
    <div align="center">
      <b>name</b><br>
      <span>Computer Science</span><br>
      <span>GIET University, Gunupur</span>
      <br>
      <a href="#" class="iconsp btn btn-sm mx-1">
        <img src="./assets/images/social/twitter.svg" alt="" />
      </a>
      <a href="$" class="iconsp btn btn-sm mx-1">
        <img src="./assets/images/social/instagram.svg" alt="" />
      </a>
      <a href="#" class="iconsp btn btn-sm mx-1">
        <img src="./assets/images/social/github.svg" alt="" />
      </a>
      <a href="#" class="iconsp btn btn-sm mx-1">
        <img src="./assets/images/social/linkedin.svg" alt="" />
      </a>
    </div>
    <div style="margin: 7px; text-align: center;">klwec wlec lewc lkwec lkweckjewv lkjwec kje cjweckj wejc wjke
      cjjwelkwerv we we sd fjh
      kerhc kher jr</div>
  </div>


</ng-template>
<!------------------------------------------------------------------------------------>
