<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/scss" href="login.component.scss">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="./assets/images/wave.png">
	<div class="container">
		<div class="img">
			<img src="./assets/images/ooug.png" alt="OOUG Logo">
		</div>
		<div class="login-content">
			 <form #loginForm="ngForm" (submit)="login(loginForm)">
            <h2 class="title" style="font-family: Roboto; color: #1e4235;">Login</h2>
				<div class="hover10 column">
				<div>
					<figure><img src="./assets/images/admin.svg"></figure>
					<span>admin</span>
				</div>
				<div>
					<figure><img src="./assets/images/corporate.svg"></figure>
					<span>corporate</span>
				</div>
				<div>
					<figure><img src="./assets/images/student.svg"></figure>
					<span>student</span>
				</div>
				</div>
				   <div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		 <input (focus)="focus('username')" name="user" required #username="ngModel" [(ngModel)]="user.username" (focusout)="focusout('username')" type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	 <input (focus)="focus('password')" name="password" #password="ngModel" required [(ngModel)]="user.password" (focusout)="focusout('password')" type="password" class="input">
            	   </div>
            	</div>
            	 <a routerLink="/auth/forgot-password">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="login.component.ts"></script>
</body>
</html>
