    @import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
@import 'https://fonts.googleapis.com/css?family=Poppins:600&display=swap';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.wave {
<<<<<<< HEAD
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
}

.container1 {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

#ooug {
  font-size: 5rem;
  font-family: 'GoodTimesRg-Regular';
  color: red;
  transition: text-shadow 0.3s;
}

#ooug:hover {
  text-shadow: 0 0 1rem white;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img {
  width: 500px;
}

form {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid rgb(189, 188, 188);
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: rgb(189, 188, 188);
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(189, 188, 188);
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
  color: white;
}

.input-div.focus > .i > i {
  color: white;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: white;
  font-family: 'poppins', sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: rgb(189, 188, 188);
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: white;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #8353a8, #b88dd8, #8353a8);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }
  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
  .img {
    display: none;
  }
  .wave {
    display: none;
  }
  .login-content {
    justify-content: center;
  }
}

.column {
  margin: 15px 15px 0;
  padding: 0;
}

.column:last-child {
  padding-bottom: 60px;
}

.column::after {
  content: '';
  clear: both;
  display: block;
}

.column div {
  position: relative;
  float: left;
  width: 200px;
  height: 100px;
  margin: 0 0 0 25px;
  padding: 0;
}

.column div:first-child {
  margin-left: 0;
}

.column div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

figure {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

.hover10 figure img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover10 figure:hover img {
  -webkit-filter: grayscale(50%) blur(1px);
  filter: grayscale(50%) blur(1px);
}
=======
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

<<<<<<< HEAD .container {
    width: auto;
    =======.container1 {
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        >>>>>>>cca31a5b50953d9ceef02c35da06a80da0e79a55 height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 7rem;
        padding: 0 2rem;
    }
    <<<<<<< HEAD=======#ooug {
        font-size: 5rem;
        font-family: 'GoodTimesRg-Regular';
        color: red;
        transition: text-shadow 0.3s;
    }
    #ooug:hover {
        text-shadow: 0 0 1rem white;
    }
    >>>>>>>cca31a5b50953d9ceef02c35da06a80da0e79a55 .img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-content {
        display: flex;
        width: auto;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    .img img {
        width: 200px;
    }
    form {
        width: auto;
    }
    .login-content img {
        height: 100px;
    }
    .login-content h2 {
        margin: 15px 0;
        color: #333;
        text-transform: uppercase;
        font-size: 2.9rem;
    }
    .login-content .input-div {
        position: relative;
        display: grid;
        grid-template-columns: 7% 93%;
        margin: 25px 0;
        padding: 5px 0;
        border-bottom: 2px solid #d9d9d9;
    }
    .login-content .input-div.one {
        margin-top: 0;
    }
    .i {
        <<<<<<< HEAD color: #d9d9d9;
        =======color: rgb(189, 188, 188);
        >>>>>>>cca31a5b50953d9ceef02c35da06a80da0e79a55 display: flex;
        justify-content: center;
        align-items: center;
    }
    .i i {
        transition: 0.3s;
    }
    .input-div>div {
        position: relative;
        height: 45px;
    }
    .input-div>div>h5 {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        <<<<<<< HEAD color: #999;
        =======color: rgb(189, 188, 188);
        >>>>>>>cca31a5b50953d9ceef02c35da06a80da0e79a55 font-size: 18px;
        transition: 0.3s;
    }
    .input-div:before,
    .input-div:after {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 0%;
        height: 2px;
        <<<<<<< HEAD background-color: #38d39f;
        transition: .4s;
        =======background-color: white;
        transition: 0.4s;
        >>>>>>>cca31a5b50953d9ceef02c35da06a80da0e79a55
    }
    .input-div:before {
        right: 50%;
    }
    .input-div:after {
        left: 50%;
    }
    .input-div.focus:before,
    .input-div.focus:after {
        width: 50%;
    }
    .input-div.focus>div>h5 {
        top: -5px;
        font-size: 15px;
    }
    .input-div.focus>.i>i {
        color: #38d39f;
    }
    .input-div>div>input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: none;
        padding: 0.5rem 0.7rem;
        font-size: 1.2rem;
        color: #555;
        font-family: 'poppins', sans-serif;
    }
    .input-div.pass {
        margin-bottom: 4px;
    }
    a {
        display: block;
        text-align: right;
        text-decoration: none;
        color: rgb(189, 188, 188);
        font-size: 0.9rem;
        transition: 0.3s;
    }
    a:hover {
        color: #38d39f;
    }
    .btn {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 25px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
        background-size: 200%;
        font-size: 1.2rem;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        margin: 1rem 0;
        cursor: pointer;
        transition: 0.5s;
    }
    .btn:hover {
        background-position: right;
    }
    @media screen and (max-width: 1050px) {
        .container {
            grid-gap: 5rem;
        }
    }
    @media screen and (max-width: 900px) {
        form {
            width: auto;
        }
        .login-content h2 {
            font-size: 2.4rem;
            margin: 8px 0;
        }
        .img img {
            width: 200px;
        }
    }
    @media screen and (max-width: 900px) {
        .container {
            grid-template-columns: auto;
            width: auto;
        }
        .img {
            display: none;
        }
        .wave {
            display: none;
        }
        .login-content {
            justify-content: center;
            width: auto;
        }
    }
    .column {
        margin: auto;
        padding-block-end: 56px;
    }
    .column:last-child {
        padding-bottom: 60px;
    }
    .column::after {
        content: '';
        clear: both;
        display: block;
    }
    .column div {
        position: relative;
        float: left;
        width: fit-content;
        height: 100px;
        margin: 0 0 0 25px;
        padding: 0;
    }
    .column div:first-child {
        margin-left: 0;
    }
    .column div span {
        position: absolute;
        bottom: -20px;
        left: 0;
        z-index: -1;
        display: block;
        width: auto;
        margin: 0;
        padding: 0;
        color: #444;
        font-size: 18px;
        text-decoration: none;
        <<<<<<< HEAD text-align: right;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        =======text-align: center;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        >>>>>>>cca31a5b50953d9ceef02c35da06a80da0e79a55 opacity: 0;
    }
    figure {
        height: 100px;
        margin: 0;
        padding: 0;
        background: #fff;
        overflow: hidden;
    }
    figure:hover+span {
        bottom: -36px;
        opacity: 1;
    }
    .hover10 figure img {
        -webkit-filter: grayscale(0) blur(0);
        filter: grayscale(0) blur(0);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .hover10 figure:hover img {
        -webkit-filter: grayscale(50%) blur(1px);
        filter: grayscale(50%) blur(1px);
    }
>>>>>>> bbdcdfb5acd83d56d52c051b7415c72a89a51657
