<div class="container1">
    <div class="img">
        <div>
            <span style="font-size: 3.5rem; font-family: Roboto; color: white;">Welcome to</span><br>
            <span id="ooug">OOUG</span>
        </div>
    </div>
    <div class="login-content">
        <form #loginForm="ngForm" (submit)="login(loginForm)">
            <h2 class="title" style="font-family: Roboto; color: white;">Login</h2>
            <!-- <div class="hover10 column">
                <div>
                    <figure><img src="img/student.svg"></figure>
                    <span>student</span>
                </div>
                <div>
                    <figure><img src="img/corporate.svg"></figure>
                    <span>corporate</span>
                </div>
                <div>
                    <figure><img src="img/admin.svg"></figure>
                    <span>admin</span>
                </div>
            </div> -->
            <div [ngClass]="usernameClass" style="margin-top: 0px;">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input (focus)="focus('username')" name="user" required #username="ngModel" [(ngModel)]="user.username" (focusout)="focusout('username')" type="text" class="input">
                </div>
            </div>
            <!-- <div class="text-white" *ngIf="username.touched && username.invalid">Required</div> -->
            <div [ngClass]="passwordClass" style="margin-bottom: 4px;">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input (focus)="focus('password')" name="password" #password="ngModel" required [(ngModel)]="user.password" (focusout)="focusout('password')" type="password" class="input">
                    <!-- <div class="text-white" *ngIf="password.touched && password.invalid">Required</div> -->
                </div>
            </div>
            <a href="#">Forgot Password?</a>
            <input type="submit" class="btn" value="Login">
        </form>
    </div>
</div>
<hr style="background-color: white;">
<script src="./main.js"></script>