<section class="container">
  <!-- loading icon-->
  <div class="row" *ngIf="flags.isLoading">
    <div class="col text-center mt-2">
      <img
        src="./assets/images/loading-blue.gif"
        width="50px"
        alt="Loading.."
      />
    </div>
  </div>

  <!-- if event not found -->
  <div class="row" *ngIf="!flags.isLoading && flags.notFound">
    <div class="col text-center">
      <h2>BLOG NOT FOUND!</h2>
    </div>
  </div>

  <div class="row" *ngIf="!flags.isLoading && !flags.notFound">
    <div class="col-md-9 col-12 m-0">
      <!-- event title date author and category -->
      <div>
        <h2 class="text-left">{{ blog.title }}</h2>
        <p>
          <span class="text-info"
            >{{ blog.date }}&nbsp;|&nbsp; {{ blog.Author.name }}&nbsp;|&nbsp;
            {{ blog.category }}</span
          >
        </p>
        <hr class="my-3" />
      </div>
      <!-- event long description and image-->
      <p class="text-secondary text-justify my-2">
        {{ blog.paragraph }}
      </p>
    </div>
    <div class="col-md-3 col-12 m-0 mt-md-5 my-3">
      <div>
        <strong>This blog is contributed by:</strong>
      </div>
      <div class="text-center">
        <div class="mt-3">
          <img
            src="{{ blog.Author.Image.host + blog.Author.Image.path }}"
            alt=""
            id="author-image"
          />
          <strong class="my-2">{{ blog.Author.name }}</strong>
          <div>{{ blog.Author.jobTitle }} at {{ blog.Author.company }}</div>
        </div>
      </div>
      <div class="mt-4">
        <app-popular-blogs></app-popular-blogs>
      </div>
    </div>
  </div>
</section>
