<section class="container my-4">
  <div class="row">
    <div class="col-md-12 col-12 text-center">
      <h1>OUR TEAM</h1>
      <hr class="my-2" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4 col-12 my-2">
      <div class="container-fluid text-center p-0" id="card">
        <div id="white-space"></div>
        <div id="content">
          <img src="./assets/images/img2.png" id="display-image" />
          <h3 id="display-name" style="color: #009cf7;">
            Corporate Members
          </h3>
          <p id="display-content">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>
          <div
            id="gradient"
            class="text-white mt-4"
            style="background: linear-gradient(to left, #64f38c, #009cf7);"
          >
            <a href="#">Meet Them</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12 my-2">
      <div class="container-fluid text-center p-0" id="card">
        <div id="white-space"></div>
        <div id="content">
          <img src="./assets/images/amiyasir.jpeg" id="display-image" />
          <h3 id="display-name" style="color: #42275a;">
            Mr. Amiya Sahoo
          </h3>
          <h6>President & Founder, OOUG</h6>
          <p id="display-content">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>
          <div
            id="gradient"
            class="text-white"
            style="background: linear-gradient(to left, #42275a, #734b6d);"
          >
            <a href="#" class="mx-3"
              ><img src="./assets/svgs/social/facebook.svg" alt=""
            /></a>
            <a href="#" class="mx-3"
              ><img src="./assets/svgs/social/instagram.svg" alt=""
            /></a>
            <a href="#" class="mx-3"
              ><img src="./assets/svgs/social/twitter.svg" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12 my-2">
      <div class="container-fluid text-center p-0" id="card">
        <div id="white-space"></div>
        <div id="content">
          <img src="./assets/images/img2.png" id="display-image" />
          <h3 id="display-name" style="color: #904e95;">
            Student Members
          </h3>
          <p id="display-content">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>
          <div
            id="gradient"
            class="text-white mt-4"
            style="background: linear-gradient(to left, #e96443, #904e95);"
          >
            <a href="#">Meet Them</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
