<div id="ooug-about" class="container-fluid">
  <!-- <h1 id="heading-ooug"> <h1>ODISHA</h1> ORACLE USERS GROUP</h1>
  <div class="border"></div> -->
  <div class="logo">
    <img class="logo-image" src="../../../assets/icons/ooug.gif" />
  </div>
  <div class="details">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    <button class="btn btn-outline-primary">Read More</button>
  </div>
</div>
<div id="our-services" class="container-fluid">
  <div class="services-section">
    <div class="inner-width">
      <h1 class="section-title">Our Expertise</h1>
      <div class="border"></div>
      <div class="services-container">
        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="./assets/svgs/web.svg" />
          </div>
          <div class="service-title">Web Designs</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque
            ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="./assets/svgs/web_dev.svg" />
          </div>
          <div class="service-title">Web Development</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque
            ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="./assets/svgs/pen-tool.svg" />
          </div>
          <div class="service-title">Responsive Designs</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque
            ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="./assets/svgs/edit.svg" />
          </div>
          <div class="service-title">Edit Sections</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque
            ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="./assets/svgs/database.svg" />
          </div>
          <div class="service-title">Databases</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque
            ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="./assets/svgs/smartphone.svg" />
          </div>
          <div class="service-title">Android</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque
            ratione rem porro, nihil.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-newsletter></app-newsletter>
<app-contact></app-contact>
