<div id="ooug-about" class="container-fluid">
  <div class="logo">
    <img class="logo-image" src="assets/icons/ooug.gif" />
  </div>
  <div class="details">
    <p>
      The <b>OOUG</b> is run by <b>Mr. Amiya Kumar Sahoo</b> and aims to expose
      students to new technologies and collaborate with similarly minded peers.
      We work on the idea of inclusive technological developments accessible to
      future “techies” with strong characters. We give major importance to
      bridging the gap between the next generation leaders and their most
      ambitious aspirations.It is a non-profitable organization who has always
      believed in the moto <b>“No Roll Back Only Commit”</b>, It means that we
      never lose courage to accomplish any given task, the commitments are
      always been given first priority. <b>OOUG</b> welcomes all associates, it
      professional to this unique and independent technical framework with open
      heart,soul and mind. More over <b>OOUG</b> is not only a club, it is a
      family who will accept you as u are.
    </p>
  </div>
</div>
<div id="our-services" class="container-fluid">
  <div class="services-section">
    <div class="inner-width">
      <h1 class="section-title">Our Expertise</h1>
      <div class="border"></div>
      <div class="services-container">
        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="assets/svgs/web.svg" />
          </div>
          <div class="service-title">Web Designs</div>
          <div class="service-desc">
            Web design refers to the design of websites that are displayed on
            the internet. It usually refers to the user experience aspects of
            website development rather than software development. Web design
            used to be focused on designing websites for desktop browsers. Web
            design is quite complex and daunting, but with the development of
            Internet and technology, web design overflow than ever before
            nowadays. Hence, becoming a web designer has become the main trend
            among young designers.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="assets/svgs/web_dev.svg" />
          </div>
          <div class="service-title">Web Development</div>
          <div class="service-desc">
            Web development is the building and maintenance of websites; it’s
            the work that happens behind the scenes to make a website look
            great, work fast and perform well with a seamless user experience.
            It can be range from developing simple static pages to complex
            applications. The field of web development is generally broken down
            into front-end (the user-facing side) and back-end (the server
            side).In our web development workshop, we introduced and teach them
            the building blocks of webpage.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="assets/svgs/pen-tool.svg" />
          </div>
          <div class="service-title">Responsive Designs</div>
          <div class="service-desc">
            The core thing about responsive design is flexible layout. Flexible
            layouts have flexible image and flexible text blocks that looks good
            on any screen. A responsive web design will adjust(i.e. resize,
            shrink, or enlarge) for different screen sizes automatically.
            Responsive design is a hot topic among web designers who want to
            provide a fair and smooth experience to all their users. Designing a
            good website is not enough, it should be useful for all kind of
            users using different types of devices.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="assets/svgs/edit.svg" />
          </div>
          <div class="service-title">Edit Sections</div>
          <div class="service-desc">
            Adobe Photoshop is a computer application software used to edit and
            manipulate digital images. It is a powerful, industry standard
            image-editing tool for designers, artists, film & video Makers, etc.
            In order to make the basics of Photoshop clear and get started, they
            are taught about the various basic tools and their functions. In
            addition, several other concepts like layers, modes, Transform
            tools, masking, image adjustments, filters etc.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="assets/svgs/database.svg" />
          </div>
          <div class="service-title">Databases</div>
          <div class="service-desc">
            A database is an organized collection of structured information, or
            data, typically stored electronically in a computer system. A
            database is usually controlled by a database management system
            (DBMS). Together, the data and the DBMS, along with the applications
            that are associated with them, are referred to as a database system,
            often shortened to just database.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <img class="icon" src="assets/svgs/smartphone.svg" />
          </div>
          <div class="service-title">Android</div>
          <div class="service-desc">
            Android Application Development is the process by which applications
            are create for devices running the Android operating system. In our
            Android Application Development workshop, we always try to
            familiarize the participants with the basics of android programming,
            we also provided the technical concepts and practical application
            based concept. So that at the end the participants can design their
            own apps.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-newsletter></app-newsletter>
<app-contact></app-contact>
