@font-face {
  font-family: 'GoodTimesRg-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('GoodTimesRg-Regular'),
    url('../assets/fonts/good-times-2-cufonfonts-webfont/good\ times\ rg.woff')
      format('woff');
}
