<div class="container-fluid h-100" style="min-height: 100vh;">
  <div class="row h-100" style="min-height: 100vh;">
    <div class="col-md-12 col-12 my-auto text-center">
      <img
        src="./assets/images/notFound.png"
        alt="Not Found"
        class="img-fluid d-none d-md-block"
        width="20%"
      />
      <img
        src="./assets/images/notFound.png"
        alt="Not Found"
        class="img-fluid d-block d-md-none"
        width="50%"
      />
      <h1>UH OH! You're lost.</h1>
      <p>
        The page you are looking for does not exist. How you got here is a
        mystery. <br />
        But you can click the button below to go back to the homepage.
      </p>
      <a
        routerLink="/"
        class="btn btn-primary"
        style="background-color: #764ca4; border-color: #764ca4;"
        >Home</a
      >
    </div>
  </div>
</div>
