@import "https://fonts.googleapis.com/css?family=Good+Times";
#intro {
    height: 100vh;
    background: url('../../../assets/imgs/back2.jpg');
    background-size: cover !important;
    cursor: default;
}

#ooug_title {
    font-family: "GoodTimesRg-Regular", "Roboto";
    font-size: 3rem;
    line-height: 3.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto";
}