<!-- introduction section -->
<section id="intro">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-12 col-12 my-auto text-center">
                <img src="../../../assets/imgs/ooug_png.png" alt="OOUG_icon" class="d-none d-md-block mx-auto img-fluid mb-4" width="200px">
                <div id="ooug_title">
                    <span style="color: red;">Odisha</span> <span class="text-light"> Oracle Users Group</span>
                </div>
                <div class="text-center text-light mt-3" style="font-size: 1.5rem;">No Rollback, Only Commit</div>
            </div>
        </div>
    </div>
</section>
<!-- end introduction -->


<!-- vision section -->
<section class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-12">
            <h2 class="text-center">
                OUR VISION
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12">
            <img src="../../../assets/imgs/vision.png" class="img-fluid" width="100%" alt="our_vision">
        </div>
        <div class="col-md-8 col-12 text-justify my-auto text-secondary">
            Our vision is to enhance the inner talent of every individual student in the best way possible.We are constantly trying to encourage students to achieve their full potential. Our vision is to make our country proud and prosper with the help of youth empowerment
            .
        </div>
    </div>
</section>
<!-- vision ends -->


<!-- mission section -->
<section class="container">
    <div class="row mt-5">
        <div class="col-md-12 col-12">
            <h2 class="text-center">
                OUR MISSION
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-12 text-justify my-auto text-secondary">
            Our misssion is to train our students in the latest technical as well as non-technical fields so that they become the flagbearers in thier respective fields and achieve success in thier career.We at OOUG focus to build students technically as well as
            morally so that the succeed in their life.
        </div>
        <div class="col-md-4 col-12">
            <img src="../../../assets/imgs/mission.png" class="img-fluid" width="100%" alt="our_mission">
        </div>
    </div>
</section>
<!-- mission ends -->


<app-upcoming-events></app-upcoming-events>
<app-technology-stack></app-technology-stack>
<div class="mb-5">
    &nbsp;
</div>