#heading {
  font-family: 'Roboto';
}

.card {
  transition: box-shadow 0.3s;
  background-color: #652e90;
}

.card:hover {
  box-shadow: 0 0 2rem #652e90;
}

#reg-open-banner {
  position: absolute;
  padding: 5px;
  margin-top: 15px;
  background-color: rgb(101, 46, 144, 0.7);
}
