<!-- upcoming events -->
<section class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-12 text-center">
      <h2 id="heading">UPCOMING EVENTS</h2>
      <hr />
    </div>
  </div>

  <!-- loading icon-->
  <div class="row" *ngIf="isLoading">
    <div class="col text-center mt-2">
      <img
        src="./assets/images/loading-blue.gif"
        width="50px"
        alt="Loading.."
      />
    </div>
  </div>

  <!-- event cards -->
  <div class="row" *ngIf="!isLoading">
    <div class="col-md-4" *ngFor="let item of upcomingEvents">
      <!-- event1 -->
      <div class="card card-block text-light my-2">
        <span id="reg-open-banner" *ngIf="item.enableRegistration">
          Registration Open
        </span>
        <img
          class="card-img-top"
          src="{{ item.Image.host + item.Image.path }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.shortDescription }}</p>
          <div class="text-center">
            <a [routerLink]="['/event', item.id]" class="btn btn-primary btn-sm"
              >Know More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
