<div class="container-fluid">
  <div class="container">
    <!--Section: Contact v.1-->
    <section class="section pb-5">
      <!--Section heading-->
      <h2>CONTACT US</h2>
      <!--Section description-->
      <div class="border"></div>
      <div class="row">
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7">
          <!--Google map-->
          <div
            id="map-container-google-11"
            class="z-depth-1-half map-container-6"
            style="height: 400px; border-radius: 10px"
          >
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471.4185707934767!2d83.83153832492712!3d19.04840625635751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5b8fd4f53db5b60f!2sOdisha%20Oracle%20User&#39;s%20Group(GIET%20GUNUPUR)!5e0!3m2!1sen!2sin!4v1621086855771!5m2!1sen!2sin"
              frameborder="0"
              style="border: 0"
              allowfullscreen
            ></iframe>
          </div>

          <br />
          <!--Buttons-->
          <div class="row text-center">
            <div class="col-md-4">
              <a class="btn-floating blue accent-1"
                ><img src="./assets/svgs/map-location.svg" />
              </a>
              <p>OOUG Office ,2nd Floor CSE Department Odisha,India</p>
            </div>

            <div class="col-md-4">
              <a class="btn-floating blue accent-1"
                ><img src="./assets/svgs/smartphone.svg" />
              </a>
              <p>+91 7992907322 <br />Monday-Saturday<br />10:00 Am-6:00 Pm</p>
            </div>

            <div class="col-md-4">
              <a class="btn-floating blue accent-1"
                ><img src="./assets/svgs/mail.svg" />
              </a>
              <p>oougofficial@ooug.com</p>
              <p>amiyasahoo@ooug.com</p>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <div class="col-lg-5 mb-4">
          <!--Form with header-->
          <form [formGroup]="form" (keydown.enter)="onSend()">
            <div class="card">
              <div class="card-body">
                <!--Header-->
                <!--Body-->
                <h3
                  style="
                    font-weight: bold;
                    font-family: sans-serif;
                    color: grey;
                  "
                >
                  WRITE TO US
                  <div class="border2"></div>
                </h3>
                <div class="md-form">
                  <label
                    for=""
                    style="
                      font-weight: bold;
                      color: grey;
                      font-family: sans-serif;
                    "
                    >Your name</label
                  >
                  <input
                    type="text"
                    placeholder="Name"
                    formControlName="name"
                    id="form-name"
                    class="form-control"
                    required
                  />
                  <div
                    class="text-black"
                    *ngIf="
                      form.controls.name.touched &&
                      form.controls.name.errors?.required
                    "
                  >
                    Required!
                  </div>
                </div>

                <div class="md-form">
                  <label
                    for=""
                    style="
                      font-weight: bold;
                      color: grey;
                      font-family: sans-serif;
                    "
                    >Your email</label
                  >
                  <input
                    type="text"
                    placeholder="Email"
                    formControlName="email"
                    id="form-email"
                    class="form-control"
                    required
                    email
                  />
                  <div
                    class="text-black"
                    *ngIf="
                      form.controls.email.touched &&
                      form.controls.email.status === 'INVALID'
                    "
                  >
                    <div
                      *ngIf="form.controls.email.errors?.required"
                      class="text-black"
                    >
                      Required!
                    </div>
                    <div *ngIf="!form.controls.email.errors?.required">
                      Invalid Email!
                    </div>
                  </div>
                </div>

                <div class="md-form">
                  <label
                    for=""
                    style="
                      font-weight: bold;
                      color: grey;
                      font-family: sans-serif;
                    "
                    >Your subject</label
                  >
                  <input
                    type="text"
                    placeholder="Subject"
                    formControlName="subject"
                    id="form-Subject"
                    class="form-control"
                    required
                  />
                  <div
                    class="text-black"
                    *ngIf="
                      form.controls.subject.touched &&
                      form.controls.subject.errors?.required
                    "
                  >
                    Required!
                  </div>
                </div>

                <div class="md-form">
                  <label
                    for=""
                    style="
                      font-weight: bold;
                      color: grey;
                      font-family: sans-serif;
                    "
                    >Your message</label
                  >
                  <textarea
                    id="form-text"
                    class="form-control md-textarea"
                    rows="3"
                    placeholder="Message"
                    formControlName="message"
                    required
                  ></textarea>
                  <div
                    class="text-black"
                    *ngIf="
                      form.controls.message.touched &&
                      form.controls.message.errors?.required
                    "
                  >
                    Required!
                  </div>
                </div>
                <div class="text-center text-white mt-3">{{ infoText }}</div>
                <div class="text-center mt-4">
                  <button class="btn btn-outline-primary" (click)="onSend()">
                    Send
                  </button>
                </div>
              </div>
            </div>
          </form>
          <!--Form with header-->
        </div>
        <!--Grid column-->
      </div>
    </section>
  </div>
</div>
