.map-container-6 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-6 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
h2 {
  font-size: 30px;
  text-align: center;
  color: black;
  padding-top: 10px;
  text-shadow: tan;
}
.container-fluid {
  background: rgb(233, 229, 229);
}
.card {
  padding: 4px;
  border: 2px solid;
  border-color: #9e65fa;
  border-radius: 10px;
}

.md-form {
  margin-top: 10px;
}

.border {
  width: 190px;
  height: 4px;
  background: black;
  margin: 7px auto;
  margin-bottom: 30px;
}
.border2 {
  width: 190px;
  height: 4px;
  background: grey;
  margin-left: 0px;
  margin-bottom: 30px;
}
p {
  color: black;
  font-weight: bold;
}
a {
  color: white;
}
.col-lg-7 {
  padding-top: 5px;
}
.form-control {
  background: white;
}
input {
  border: 1px solid;
  border-radius: 10px;
  border-color: #9e65fa;
}
textarea {
  border: 1px solid;
  border-radius: 10px;
  border-color: #9e65fa;
}
img {
  background: black;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  padding: 4px;
}
.card-body {
  width: 100%;
}

.btn-outline-primary {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  align-self: center;
  text-align: center;
  margin: auto;
  display: block;
  font-weight: bold;
  color: #9e65fa;
  border-color: #9e65fa;
}

.btn-outline-primary:hover {
  width: 130px;
  color: #ddd;
  background-color: #9e65fa;
  border-color: #9e65fa;
  transition: 0.3s;
}
