.map-container-6 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-6 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
h2 {
  font-size: 30px;
  text-align: center;
  color: white;

  padding-top: 10px;
  text-shadow: tan;
}
.container-fluid {
  background: linear-gradient(to left, #fa6f65, #8942a8);
}
.card {
  background: rgb(214, 168, 168);
  padding: 6px;
  border-radius: 10px;
  opacity: 95%;
}

.md-form {
  margin-top: 10px;
}
.border {
  width: 160px;
  height: 2px;
  background: white;
  margin: 10px auto;
  margin-bottom: 30px;
}
p {
  color: white;
  font-weight: bold;
}
a {
  color: white;
}
.col-lg-7 {
  margin-top: 5px;
}
.form-control {
  background: white;
}
