<section>
  <img class="wave" src="./assets/images/wave.png" />
  <div class="container">
    <div class="img">
      <img src="./assets/images/ooug.png" alt="OOUG Logo" />
    </div>
    <div class="login-content">
      <form [formGroup]="resetForm" (submit)="sendOTP()">
        <h2 class="title" style="font-family: Roboto; color: #1e4235;">
          Forgot Password?
        </h2>
        <br />
        <div [ngClass]="usernameClass" style="margin-top: 0px;">
          <div class="">
            <svg
              class="bi bi-envelope-fill"
              width="2em"
              height="2em"
              viewBox="0 0 16 12"
              fill="rgb(46, 207, 150)"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M.05 3.555L8 8.414l7.95-4.859A2 2 0 0014 2H2A2 2 0 00.05 3.555zM16 4.697l-5.875 3.59L16 11.743V4.697zm-.168 8.108L9.157 8.879 8 9.586l-1.157-.707-6.675 3.926A2 2 0 002 14h12a2 2 0 001.832-1.195zM0 11.743l5.875-3.456L0 4.697v7.046z"
              />
            </svg>
          </div>
          <div class="div">
            <h5>Email</h5>
            <input
              (focus)="focus('username')"
              name="email"
              email
              required
              (focusout)="focusout('username')"
              type="text"
              class="input"
              formControlName="email"
            />
          </div>
        </div>
        <div
          class="text-left"
          *ngIf="
            resetForm.controls.email.touched &&
            resetForm.controls.email.status === 'INVALID'
          "
        >
          <div *ngIf="resetForm.controls.email.errors?.required">
            Required!
          </div>
          <div *ngIf="!resetForm.controls.email.errors?.required">
            Invalid Email!
          </div>
        </div>
        <a routerLink="/auth/login">Login</a>
        <button type="submit" class="btn">{{ btnText }}</button>
      </form>
    </div>
  </div>
</section>
