<section>
  <img class="wave" src="./assets/images/wave.png" />
  <div class="container">
    <div class="img">
      <img src="./assets/images/ooug.png" alt="OOUG Logo" />
    </div>
    <div class="login-content">
      <form [formGroup]="resetForm" (submit)="resetPassword()">
        <h2 class="title" style="font-family: Roboto; color: #1e4235;">
          Enter new password
        </h2>
        <div class="hover10 column"></div>
        <div [ngClass]="passwordClass" style="margin-top: 0px;">
          <div class="i">
            <!-- <img src="./assets/svgs/user.svg" width="50px" alt="user" /> -->
          </div>
          <div class="div">
            <h5>Password</h5>
            <input
              (focus)="focus('password')"
              name="password"
              required
              (focusout)="focusout('password')"
              type="password"
              class="input"
              formControlName="newPass"
            />
          </div>
        </div>
        <div [ngClass]="conPasswordClass" style="margin-top: 0px;">
          <div class="i">
            <!-- <img src="./assets/svgs/user.svg" width="50px" alt="user" /> -->
          </div>
          <div class="div">
            <h5>Confirm Password</h5>
            <input
              (focus)="focus('con_password')"
              name="confPassword"
              required
              formControlName="confNewPass"
              (focusout)="focusout('con_password')"
              type="password"
              class="input"
            />
          </div>
        </div>
        <a routerLink="/auth/login">Login</a>
        <button
          type="submit"
          class="btn"
          [disabled]="
            resetForm.value.newPass !== resetForm.value.confNewPass ||
            resetForm.value.newPass === '' ||
            isLoading
          "
        >
          {{ isLoading ? 'Please wait...' : 'Reset Password' }}
        </button>
      </form>
    </div>
  </div>
</section>
